<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no">
    <title>weelinktech|蔚来，助力行业信息化建设</title>
    <!--[if lte IE9]>
    <script>window.location.href = 'http://cdn.dmeng.net/upgrade-your-browser.html?referrer=' + location.href;</script>
    <![endif]-->
    <script>/*@cc_on window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); @*/</script>
    <link rel="stylesheet" href="/static/css/roll.css">
    <link rel="stylesheet" href="/static/css/animation.css"/>
    <link rel="stylesheet" href="/static/demo/css/swiper.min.css"/>
    <link rel="stylesheet" href="/static/js/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/public.css?v1.3"/>
    <link rel="stylesheet" href="/static/css/index.css?v1.3"/>
    <link rel="stylesheet" href="/static/css/erji.css"/>
    <link rel="stylesheet" href="/static/css/iconfont.css"/>
    <link href="/static/css/video-js.min.css" rel="stylesheet">
    <script src="/static/js/video.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/swiper.min.js"></script>
    <script type="text/javascript" src="/static/js/wow.js"></script>
    <script type="text/javascript" src="/static/js/js.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/scrollBar.js"></script>
    <link type="image/x-icon" rel="shortcut icon" href="/static/images/logo.ico"/>

    <!--eacase start-->
    <link rel="shortcut icon" href="/static/eascase/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/eascase/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="/static/eascase/css/style.css">
    <script type="text/javascript" src="/static/eascase/js/swiper-3.4.2.min.js"></script>
    <script type="text/javascript">
        function browserRedirect() {
            var sUserAgent = navigator.userAgent.toLowerCase();
            var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
            var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
            var bIsMidp = sUserAgent.match(/midp/i) == "midp";
            var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
            var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
            var bIsAndroid = sUserAgent.match(/android/i) == "android";
            var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
            var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";

            if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
                window.location.href = 'http://m.eacase.com/';
            }
        }

        browserRedirect();
    </script>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=ee2616508c5901d518ab15d90aac45b4"></script>
    <!--eacase end-->
</head>
<body>
<div class="wxopen">
    <img src="/static/images/wxopen.png" alt="">
</div>
<header class="index_header">
    <a href="/" class="logo" id="logo1">
        <img src="/static/images/logo.png" class="logo1"/>
        <img src="/static/images/logo_white.png" class="logo2"/>
    </a>
    <a href="/" class="logo" id="logo2">
        <img src="/static/images/logo.png"/>
    </a>
    <ul class="nav" id="nav">
        <li class="" style="position: relative;">
            <a href="/home">首页</a>
        </li>
        <li class="">
            <a href="/service">服务</a>
        </li>
        <li class="">
            <a>解决方案</a>
            <div class="menu-box menu-box-1" style="transform:translateX(46%)">
                <div class="menu-9">
                    <div class="menu-10">
                        <a href="/solution_ecommerce#solution_ecommerce">全网电商解决方案</a>
                        <a href="/solution_government">政务门户解决方案</a>
                        <a href="/solution_company">企业门户解决方案</a>
                        <a href="/solution_agriculture">生态农业解决方案</a>
                    </div>
                </div>
            </div>
            <script>
                //案例下拉菜单滚动条
                new CusScrollBar({
                    contentSelector: '.scroll_cont', //滚动内容区
                    barSelector: '.scroll_bar', //滚动条
                    sliderSelector: '.scroll_slider' //滚动滑块
                });
                /*案例下拉菜单*/
                $('.menu-7 .menu-13').each(function (i) {
                    $(this).click(function () {
                        if ($(this).parent().next('.menu-14').is(":visible")) {
                            $(this).removeClass('hover');
                            $('.menu-14').slideUp(300);
                        } else {
                            $('.menu-14').slideUp(300);
                            $('.menu-13').removeClass('hover');
                            $(this).addClass('hover');
                            $(this).parent().next('.menu-14').slideDown(300);
                        }
                        setTimeout(function () {
                            if ($('.menu-15').outerHeight() - 10 <= $('.scroll_cont').outerHeight()) {
                                $('.scroll_bar').css('opacity', 0)
                            } else {
                                $('.scroll_bar').css('opacity', 1)
                            }
                        }, 400);

                    })
                })
            </script>
        </li>
        <li class="">
            <a>客户案例</a>
            <div class="menu-box menu-box-1" style="transform:translateX(117%)">
                <div class="menu-9">
                    <div class="menu-10">
                       <a href="/e_commerce#e_commerce">电商平台</a>
                        <a href="/website#website">网站建设</a>
                        <a href="/wchat#wchat">微信/H5</a>
                        <a href="/business#business">业务系统</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="">
            <a href="#">智库</a>
            <div class="menu-box menu-box-1" style="transform:translateX(180%)">
                <div class="menu-9">
                    <div class="menu-10">
                        <a href="/companyActive#company">公司动态</a>
                        <a href="/tradesActive#trades">行业动态</a>
                        <a href="/developmentActive#development">研发动态</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="" style="position: relative;">
            <a href="/miniProgrammer#mini">小程序</a>
        </li>
        <li class="" style="position: relative;">
            <a href="#aboutUS">关于我们</a>
        </li>
    </ul>
    <button type="button" class="navbar-toggle" id="nav-btn">
        <span class="sr-only">切换导航</span>
        <span class="icon-bar bar-1"></span>
        <span class="icon-bar bar-2"></span>
        <span class="icon-bar bar-3"></span>
    </button>
</header>

<div id="headerHeight"></div>
<style>
    .logo1 {
        display: none;
    }

    .logo2 {
        display: block;
    }
</style>
<script>
    $('body').find('.index_header').removeClass("index_header").addClass("header_hover");
    $(window).scroll(function () {
        var scroll_header = $(window).scrollTop();
        if (scroll_header >= 1) {
            $("header").addClass("index_header")
            $("header").removeClass("header_hover")
            $(".nav>li>a").css({"height": "60px", "line-height": "60px"})
            $(".logo2").hide();
            $(".logo1").show();
            $("header").mouseover(function () {
                $(".logo1").show();
            });
            $("header").mouseout(function () {
                $(".logo1").show();
                $(".logo2").hide();
            });

        } else {
            $("header").removeClass("index_header")
            $("header").addClass("header_hover")
            $(".nav>li>a").css({"height": "70px", "line-height": "70px"})
            $(".logo2").show();
            $(".logo1").hide();
            $("header").mouseover(function () {
                $(".logo1").show();
                $(".logo2").hide();
            });
            $("header").mouseout(function () {
                $(".logo1").hide();
                $(".logo2").show();
            });
        }
    });
    $(document).ready(function () {
        loop:true;
        var flag = false;
        var swiperFlag = false;
        var mySwiper = new Swiper('.banner_index', {
            effect: 'fade',
            //		pagination : '.banner_index .swiper-pagination',
            //		prevButton: '.banner_index .swiper-button-prev',
            pagination: '.banner_index .swiper-pagination',
            paginationClickable: true,
            autoplay: 8000,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            onSlideChangeEnd: function (swiper) {
                //console.log(swiper.activeIndex);
                //			console.log(11);
                var _this = $('.banner_index .swiper-slide').eq(swiper.activeIndex);
                if (swiper.activeIndex == 0 || swiper.activeIndex == 1) {
                    var video = $("#v" + swiper.activeIndex)[0];
                    if ($(window).innerWidth() > 768) {
                        video.play();
                    }
                }
            }
        })
    })

    function showvideo(vurl) {
        $("#vodeo").modal('show');
        var vd = videojs("my_player");
        vd.src(vurl);
        vd.load(vurl);
        vd.play();
    }

    function hidevideo() {
        $("#vodeo").modal('hide');
        var vd = videojs("my_player");
        vd.pause();

    }
</script>
<!--关于我们-->
<section id="aboutUS">
    <!-- banner -->
    <div class="sub-banner" style="background: url(http://www.eacase.com/images/sub-banner2.jpg) no-repeat center;">
        <em>蔚来，创新型互联网软件开发服务商</em>
        <span>12年技术积累，为您提供全方位行业解决方案</span>
    </div>
    <!-- 关于我们 -->
    <div class="about-box">
        <em>关于我们</em>
        <span>ABOUT US</span>
        <img src="http://www.eacase.com/images/service1.jpg" alt="">
        <div class="about-con clear">
            <!-- 这里放编辑器的内容 -->
            <img src="http://www.eacase.com/images/sub4.png" style="float:left;width:580px;height:360px;margin-right: 40px;" alt="">
            <h2 style="font-size: 24px;font-weight: normal;text-align:center;">公司简介</h2>
            <p>&nbsp;</p>
            <p>　　蔚来物联科技(深圳)有限公司（www.wee-linktech.com 简称蔚来）</p>
            <p>&nbsp;</p>
            <p>
                　　创立于2008年6月。蔚来物联科技是创新型互联网软件开发服务商，我们依托近10年的互联网核心技术沉淀，为企事业单位提供“互联网+”战略的软件产品设计、开发，以技术创新驱动“互联网+”战略的落地，让我们服务的每一位客户不被技术难题影响互联网方向的探索。我们提供Web网页、微信、APP、业务应用系统、后端管理等范围的一站式开发服务，包含产品梳理、原型设计、设计开发、专业测试、部署上线等流程，提供众多垂直行业和领域的互联网+解决方案。</p>
            <!-- 这里放编辑器的内容 -->
        </div>
    </div>
    <!-- 关于我们 -->
    <!-- 我们的优势 -->
    <div class="about-advant-box">
        <div class="about-advant-con">
            <em>我们的<span>优势</span></em>
            <span>OUR ADVANTAGES</span>
            <img src="http://www.eacase.com/images/service1.jpg" alt="">
            <ul class="about-advant-list clear">
                <li>
                    <img src="http://www.eacase.com/images/icon29.png" alt="">
                    <em>产品为本</em>
                    <span>我们的服务从第一 次需求沟通开始，帮您整理思路、<br>分析市场，让您的产品满足最终需求。</span>
                </li>
                <li>
                    <img src="http://www.eacase.com/images/icon30.png" alt="">
                    <em>专业团队</em>
                    <span>不管是产品经理、设计师、还是开发工程师，我们会 <br>组织最专业的团队为您提供服务。</span>
                </li>
                <li>
                    <img src="http://www.eacase.com/images/icon31.png" alt="">
                    <em>质量保障</em>
                    <span>所有项目交付前会经过严格的内部测试、上线部署调试，<br>产品交付后有长达1年的维护保障</span>
                </li>
            </ul>
        </div>
    </div>
    <!-- 我们的优势 -->
    <!-- 加入我们 -->
    <div class="about-join-box" id="join-us">
        <div class="about-join-con">
            <em>加入我们</em>
            <span>JOIN IN US</span>
            <img src="http://www.eacase.com/images/service1.jpg" alt="">
            <div class="about-join-body clear">
                <div class="join-left">
                    <!-- 编辑器内容 -->
                    <p>在这里，你将接触各行各业的创业想法；亲身参与产品从0到1的过程；</p>
                    <p>成就他人的同时实现自我价值，这里有一群有趣的小伙伴，没有办公室政治，从来只对事，不对人。</p>
                    <p>这里有工作讨论会上的争论，周末聚餐中的笑闹，休假远行时的惬意。</p>
                    <p>PHP开发、前端开发、产品经理、设计大咖、业务能手，蔚来物联科技期待你的加入!</p>
                    <p>&nbsp;</p>
                    <p>请将简历投至：<span style="color:#0e56c2;font-size: 24px;">BR@weelinktech.com</span></p>
                    <!-- 编辑器内容 -->
                </div>
                <div class="join-right">
                    <img src="http://www.eacase.com/images/icon32.png" class="join-prev">
                    <img src="http://www.eacase.com/images/icon33.png" class="join-next">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div>
                                <img src="http://www.eacase.com/images/sub5-1.jpg" alt="">
                            </div>
                            <em>项目小组研讨</em>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <img src="http://www.eacase.com/images/sub5-2.jpg" alt="">
                            </div>
                            <em>项目开发讨论会</em>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <img src="http://www.eacase.com/images/sub5-3.jpg" alt="">
                            </div>
                            <em>开发团队</em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 加入我们 -->
    <!-- 联系我们 -->
    <div class="about-contact" id="contact-about">
        <em>联系我们</em>
        <span>CONTACT US</span>
        <img src="http://www.eacase.com/images/service1.jpg" alt="">
        <ul class="contact-list clear">
            <li>
                <div>
                    <img src="http://www.eacase.com/images/icon34.png" alt="">
                </div>
                <em>客服热线</em>
                <span>18618268484</span>
            </li>
            <li>
                <div>
                    <img src="http://www.eacase.com/images/icon35.png" alt="">
                </div>
                <em>公司邮箱</em>
                <span>BR@weelinktech.com</span>
            </li>
            <li>
                <div>
                    <img src="http://www.eacase.com/images/icon36.png" alt="">
                </div>
                <em>公司地址</em>
                <span style="font-size: 5px; line-height: 110%">深圳市南山区粤海街道高新<br>社区社区高新南四道025号<br>高新工业村W2-A<br>栋1层109室</span>
            </li>
        </ul>
        <div id="about-map">
        </div>
    </div>
    <style>
        .contact-list li {
            margin-right: 70px
        }
    </style>
    <!-- 联系我们 -->
</section>


<!--蔚来-->
<!-- 飘窗 -->
<style type="text/css">
    .li-3 {
        float: left;
        width: 200px !important;
        padding: 0 !important;
    }

    .li-2 {
        float: right;
    }

    .li-2 > img {
        margin: 0 !important;
        height: 38px !important;
    }
</style>
<!-- 客服 -->
<script type='text/javascript'>
    (function (m, ei, q, i, a, j, s) {
        m[i] = m[i] || function () {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '//static.meiqia.com/dist/meiqia.js?_=t';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', '18197');
    _MEIQIA('withoutBtn');
    _MEIQIA('init');

    $('.float-kf,.gdsh-top').on('click', function () {
        _MEIQIA('showPanel');
    });
</script>
<!-- 客服 -->
<script type="text/javascript" src="/static/eascase/js/map.js"></script>
<!-- 脚部 -->
</body>
<script type="text/javascript">
    let joinBanner = new Swiper('.join-right', {
        loop: true,
        autoplay: 3000
    });
    $('.join-prev').on('click', function () {
        joinBanner.slidePrev();
    });
    $('.join-next').on('click', function () {
        joinBanner.slideNext();
    });
</script>
<!--蔚来-->
</body>
</html>