<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no">
    <title>eacase|一街，助力行业信息化建设</title>
    <!--[if lte IE9]>
    <script>window.location.href = 'http://cdn.dmeng.net/upgrade-your-browser.html?referrer=' + location.href;</script>
    <![endif]-->
    <script>
        /*@cc_on window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); @*/
    </script>
    <link rel="stylesheet" href="/static/css/roll.css">
    <link rel="stylesheet" href="/static/css/animation.css"/>
    <link rel="stylesheet" href="/static/demo/css/swiper.min.css"/>
    <link rel="stylesheet" href="/static/js/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/public.css?v1.3"/>
    <link rel="stylesheet" href="/static/css/index.css?v1.3"/>
    <link rel="stylesheet" href="/static/css/erji.css"/>
    <link rel="stylesheet" href="/static/css/iconfont.css"/>
    <link href="/static/css/video-js.min.css" rel="stylesheet">
    <script src="/static/js/video.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/swiper.min.js"></script>
    <script type="text/javascript" src="/static/js/wow.js"></script>
    <script type="text/javascript" src="/static/js/js.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/scrollBar.js"></script>
    <link type="image/x-icon" rel="shortcut icon" href="/static/images/logo.ico"/>
    <!--eacase start-->
    <link rel="shortcut icon" href="http://www.eacase.com/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="http://www.eacase.com/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="/static/eascase/css/style.css">
    <script type="text/javascript" src="http://www.eacase.com/js/swiper-3.4.2.min.js"></script>
    <script type="text/javascript">
        function browserRedirect() {
            var sUserAgent = navigator.userAgent.toLowerCase();
            var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
            var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
            var bIsMidp = sUserAgent.match(/midp/i) == "midp";
            var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
            var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
            var bIsAndroid = sUserAgent.match(/android/i) == "android";
            var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
            var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";

            if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
                window.location.href = 'http://m.eacase.com/';
            }
        }

        browserRedirect();

    </script>
    <!--eacase end-->
</head>
<body>
<div class="wxopen">
    <img src="/static/images/wxopen.png" alt="">
</div>
<header class="index_header">
    <a href="/" class="logo" id="logo1">
        <img src="/static/images/logo.png" class="logo1"/>
        <img src="/static/images/logo_white.png" class="logo2"/>
    </a>
    <a href="/" class="logo" id="logo2">
        <img src="/static/images/logo.png"/>
    </a>
    <ul class="nav" id="nav">
        <li class="" style="position: relative;">
            <a href="/home">首页</a>
        </li>
        <li class="">
            <a href="/service">服务</a>
        </li>
        <li class="">
            <a>解决方案</a>
            <div class="menu-box menu-box-1" style="transform:translateX(46%)">
                <div class="menu-9">
                    <div class="menu-10">
                        <a href="/solution_ecommerce#solution_ecommerce">全网电商解决方案</a>
                        <a href="/solution_government">政务门户解决方案</a>
                        <a href="/solution_company">企业门户解决方案</a>
                        <a href="/solution_agriculture">生态农业解决方案</a>
                    </div>
                </div>
            </div>
            <script>
                //案例下拉菜单滚动条
                new CusScrollBar({
                    contentSelector: '.scroll_cont', //滚动内容区
                    barSelector: '.scroll_bar', //滚动条
                    sliderSelector: '.scroll_slider' //滚动滑块
                });
                /*案例下拉菜单*/
                $('.menu-7 .menu-13').each(function (i) {
                    $(this).click(function () {
                        if ($(this).parent().next('.menu-14').is(":visible")) {
                            $(this).removeClass('hover');
                            $('.menu-14').slideUp(300);
                        } else {
                            $('.menu-14').slideUp(300);
                            $('.menu-13').removeClass('hover');
                            $(this).addClass('hover');
                            $(this).parent().next('.menu-14').slideDown(300);
                        }
                        setTimeout(function () {
                            if ($('.menu-15').outerHeight() - 10 <= $('.scroll_cont').outerHeight()) {
                                $('.scroll_bar').css('opacity', 0)
                            } else {
                                $('.scroll_bar').css('opacity', 1)
                            }
                        }, 400);

                    })
                })
            </script>
        </li>
        <li class="">
            <a>客户案例</a>
            <div class="menu-box menu-box-1" style="transform:translateX(117%)">
                <div class="menu-9">
                    <div class="menu-10">
                       <a href="/e_commerce#e_commerce">电商平台</a>
                        <a href="/website#website">网站建设</a>
                        <a href="/wchat#wchat">微信/H5</a>
                        <a href="/business#business">业务系统</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="">
            <a href="#">智库</a>
            <div class="menu-box menu-box-1" style="transform:translateX(180%)">
                <div class="menu-9">
                    <div class="menu-10">
                        <a href="/companyActive#company">公司动态</a>
                        <a href="/tradesActive#trades">行业动态</a>
                        <a href="/developmentActive#development">研发动态</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="" style="position: relative;">
            <a href="/miniProgrammer#mini">小程序</a>
        </li>
        <li class="" style="position: relative;">
            <a href="#aboutUS">关于我们</a>
        </li>
    </ul>
    <button type="button" class="navbar-toggle" id="nav-btn">
        <span class="sr-only">切换导航</span>
        <span class="icon-bar bar-1"></span>
        <span class="icon-bar bar-2"></span>
        <span class="icon-bar bar-3"></span>
    </button>
</header>

<div id="headerHeight"></div>
<style>
    .logo1 {
        display: none;
    }

    .logo2 {
        display: block;
    }
</style>
<script>
    $('body').find('.index_header').removeClass("index_header").addClass("header_hover");
    $(window).scroll(function () {
        var scroll_header = $(window).scrollTop();
        if (scroll_header >= 1) {
            $("header").addClass("index_header")
            $("header").removeClass("header_hover")
            $(".nav>li>a").css({"height": "60px", "line-height": "60px"})
            $(".logo2").hide();
            $(".logo1").show();
            $("header").mouseover(function () {
                $(".logo1").show();
            });
            $("header").mouseout(function () {
                $(".logo1").show();
                $(".logo2").hide();
            });

        } else {
            $("header").removeClass("index_header")
            $("header").addClass("header_hover")
            $(".nav>li>a").css({"height": "70px", "line-height": "70px"})
            $(".logo2").show();
            $(".logo1").hide();
            $("header").mouseover(function () {
                $(".logo1").show();
                $(".logo2").hide();
            });
            $("header").mouseout(function () {
                $(".logo1").hide();
                $(".logo2").show();
            });
        }
    });
    $(document).ready(function () {
        loop:true;
        var flag = false;
        var swiperFlag = false;
        var mySwiper = new Swiper('.banner_index', {
            effect: 'fade',
            //		pagination : '.banner_index .swiper-pagination',
            //		prevButton: '.banner_index .swiper-button-prev',
            pagination: '.banner_index .swiper-pagination',
            paginationClickable: true,
            autoplay: 8000,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            onSlideChangeEnd: function (swiper) {
                //console.log(swiper.activeIndex);
                //			console.log(11);
                var _this = $('.banner_index .swiper-slide').eq(swiper.activeIndex);
                if (swiper.activeIndex == 0 || swiper.activeIndex == 1) {
                    var video = $("#v" + swiper.activeIndex)[0];
                    if ($(window).innerWidth() > 768) {
                        video.play();
                    }
                }
            }
        })
    })

    function showvideo(vurl) {
        $("#vodeo").modal('show');
        var vd = videojs("my_player");
        vd.src(vurl);
        vd.load(vurl);
        vd.play();
    }

    function hidevideo() {
        $("#vodeo").modal('hide');
        var vd = videojs("my_player");
        vd.pause();

    }
</script>
<section id="business">
    <!-- 客户案例 -->
    <div class="agric-tit">
        <em>客户案例</em>
        <img src="http://www.eacase.com/images/service1.jpg" alt="">
    </div>
    <ul class="sub-nav-con clear">
        <li>
            <a href="http://www.eacase.com/case/" class="clear">
                <i class="iconfont">&#xe65c;</i>
                <em>全部案例</em>
                <span>All the cases</span>
            </a>
        </li>
        <li>
            <a href="http://www.eacase.com/case/e-commerce/" class="clear">
                <i class="iconfont">&#xe621;</i>
                <em>电商平台</em>
                <span>E-commerce</span>
            </a>
        </li>
        <li>
            <a href="http://www.eacase.com/case/web/" class="clear">
                <i class="iconfont">&#xe855;</i>
                <em>网站建设</em>
                <span>Website design</span>
            </a>
        </li>
        <li>
            <a href="http://www.eacase.com/case/wechat/" class="clear">
                <i class="iconfont">&#xe606;</i>
                <em>微信/H5</em>
                <span>Wechat/HTML5</span>
            </a>
        </li>
        <li class="sub-nav-on">
            <a href="http://www.eacase.com/case/system/" class="clear">
                <i class="iconfont">&#xe60d;</i>
                <em>业务系统</em>
                <span>Operation system</span>
            </a>
        </li>
    </ul>
    <ul class="case-list">
        <li class="clear">
            <a href="/case/system/201903/57.html" target="_blank">
                <em>联合创展</em>
                <span></span>
            </a>
            <img src="http://www.eacase.com/uploadfile/2019/03/27/201903271708161Epmdl.png" alt="联合创展">
            <h3>联合创展</h3>
            <div class="case-des">
            </div>
            <div class="case-tag clear">
                <i>业务系统</i></i>
            </div>
        </li>
        <li class="clear">
            <a href="/case/system/201903/54.html" target="_blank">
                <em>古林园墓地管理系统</em>
                <span>
</span>
            </a>
            <img src="http://www.eacase.com/uploadfile/2019/03/21/20190321134812udkheq.png" alt="古林园墓地管理系统">
            <h3>古林园墓地管理系统</h3>
            <div class="case-des">

            </div>
            <div class="case-tag clear">
                <i>业务系统</i></i>
            </div>
        </li>
        <li class="clear">
            <a href="/case/system/201712/48.html" target="_blank">
                <em>内蒙古圣露源水业送水系统</em>
                <span></span>
            </a>
            <img src="http://www.eacase.com/uploadfile/2017/12/12/20171212150549hlUXDT.png" alt="内蒙古圣露源水业送水系统">
            <h3>内蒙古圣露源水业送水系统</h3>
            <div class="case-des">

            </div>
            <div class="case-tag clear">
                <i>业务系统</i></i>
            </div>
        </li>
        <li class="clear">
            <a href="/case/system/201709/45.html" target="_blank">
                <em>第二届中蒙博览会影响力指数系统</em>
                <span> 在展馆入口处安装我司研制的采集器，通过我司研制的独家算法来分析识别人身体的主要特征点，智能分析出经过门口的参观人员是进场还是出场，自动统计参观人数及进场时间，并通过WIFI将数据实时上传至影响力指数云平台进行数据计算、处理。系统需拥有详细的报表统计功能，可按时间段对进出人流量进行统计分析，...</span>
            </a>
            <img src="http://www.eacase.com/uploadfile/2017/09/28/20170928181148jCPMml.jpg" alt="第二届中蒙博览会影响力指数系统">
            <h3>第二届中蒙博览会影响力指数系统</h3>
            <div class="case-des">
                在展馆入口处安装我司研制的采集器，通过我司研制的独家算法来分析识别人身体的主要特征点，智能分析出经过门口的参观人员是进场还是出场，自动统计参观人数及进场时间，并通过WIFI将数据实时上传至影响力指数云平台进行数据计算、处理。系统需拥有详细的报表统计功能，可按时间段对进出人流量进行统计分析，...
            </div>
            <div class="case-tag clear">
                <i>业务系统</i></i>
            </div>
        </li>
        <li class="clear">
            <a href="/case/system/201708/44.html" target="_blank">
                <em>联创产品追溯系统</em>
                <span> 联创农产品追溯云平台主要针对农业种/养殖用户，提供全流程追溯及智能化管理服务。平台可以为每一个农产品制作独一无二的溯源档案，包含了农产品生产基地环境监控（气候、温度、湿度、实时视频监控等）、种/养植过程跟踪（育苗、农药、施肥、给药、采摘出栏等）、仓储加工管理、物流链跟踪、销售数据分析、第...</span>
            </a>
            <img src="http://www.eacase.com/uploadfile/2017/08/23/20170823181642qc7KUX.png" alt="联创产品追溯系统">
            <h3>联创产品追溯系统</h3>
            <div class="case-des">
                联创农产品追溯云平台主要针对农业种/养殖用户，提供全流程追溯及智能化管理服务。平台可以为每一个农产品制作独一无二的溯源档案，包含了农产品生产基地环境监控（气候、温度、湿度、实时视频监控等）、种/养植过程跟踪（育苗、农药、施肥、给药、采摘出栏等）、仓储加工管理、物流链跟踪、销售数据分析、第...
            </div>
            <div class="case-tag clear">
                <i>业务系统研发</i></i>
            </div>
        </li>
        <li class="clear">
            <a href="/case/system/201708/37.html" target="_blank">
                <em>呼和浩特赛金桥派出所电子工作手册系统</em>
                <span> 呼和浩特赛金桥派出所电子工作手册系统</span>
            </a>
            <img src="http://www.eacase.com/uploadfile/2017/08/18/20170818130712BJrjUV.png" alt="呼和浩特赛金桥派出所电子工作手册系统">
            <h3>呼和浩特赛金桥派出所电子工作手册系统</h3>
            <div class="case-des">
                呼和浩特赛金桥派出所电子工作手册系统
            </div>
            <div class="case-tag clear">
                <i>业务系统</i></i>
            </div>
        </li>
        <li class="clear">
            <a href="/case/system/201708/28.html" target="_blank">
                <em>96998呼叫中心CRM系统</em>
                <span> 内蒙古锁业协会96998呼叫中心CRM系统</span>
            </a>
            <img src="http://www.eacase.com/uploadfile/2017/08/11/20170811165838h5JLur.jpg" alt="96998呼叫中心CRM系统">
            <h3>96998呼叫中心CRM系统</h3>
            <div class="case-des">
                内蒙古锁业协会96998呼叫中心CRM系统
            </div>
            <div class="case-tag clear">
                <i>业务系统</i></i>
            </div>
        </li>
        <li class="clear">
            <a href="/case/system/201708/27.html" target="_blank">
                <em>967907呼叫中心CRM系统</em>
                <span> 呼和浩特市家政服务中心，于2013年被呼市人力资源和社会保障局确定为全市公益性家庭服务信息平台。为市民和家庭服务企业提供免费信息对接服务，市民可通过电话、网络等信息手段，无偿享受家庭服务、维修服务、养老服务、医疗服务、物业管理、社区导购、房屋租售、人才招聘、法律服务、生活百事等20大类170余项...</span>
            </a>
            <img src="http://www.eacase.com/uploadfile/2017/08/11/201708111651483L7jwD.jpg" alt="967907呼叫中心CRM系统">
            <h3>967907呼叫中心CRM系统</h3>
            <div class="case-des">
                呼和浩特市家政服务中心，于2013年被呼市人力资源和社会保障局确定为全市公益性家庭服务信息平台。为市民和家庭服务企业提供免费信息对接服务，市民可通过电话、网络等信息手段，无偿享受家庭服务、维修服务、养老服务、医疗服务、物业管理、社区导购、房屋租售、人才招聘、法律服务、生活百事等20大类170余项...
            </div>
            <div class="case-tag clear">
                <i>业务系统</i></i>
            </div>
        </li>

    </ul>
    <!-- 分页 -->
    <div id="pages" class="c2">
        <li title="按住向左方向键 向前翻页"><a href="/case/system/index.html">首页</a></li>
        <li title="总数"><a href="javascript:;">10</a></li>
        <li title="按住向左方向键 向前翻页"><a href="/case/system/index.html">&lt;</a></li>
        <li><a class="active" href="/case/system/index.html">1</a></li>
        <li><a href="/case/system/2.html">2</a></li>
        <input type="hidden" id="page-up" value="/case/system/index.html"><input type="hidden" id="page-next" value="/case/system/2.html">
        <script>$(this).focus();</script>
        <li title="按住向右方向键 向后翻页"><a href="/case/system/2.html">&gt;</a></li>
        <li title="按住向右方向键 向后翻页"><a href="/case/system/2.html">末页</a></li>
    </div>
    <!-- 分页 -->
    <!-- 客户案例 -->
</section>
<footer>
    <!-- 底部 -->

    <div class="bottom-box">
        <div class="bottom-top clear">
            <ul class="bottom-nav clear">
                <li>
                    <a href="http://www.eacase.com/service/" title="服务">服务</a>
                    <ul class="bottom-secnav">
                        <li><a href="http://www.eacase.com/service/" title="业务系统研发">业务系统研发</a></li>
                        <li><a href="http://www.eacase.com/service/" title="电商平台业务研发">电商平台业务研发</a></li>
                        <li><a href="http://www.eacase.com/service/" title="高端网站建设">高端网站建设</a></li>
                        <li><a href="http://www.eacase.com/service/" title="微信/H5应用开发">APP/微信/H5开发</a></li>
                    </ul>
                </li>
                <li>
                    <a href="http://www.eacase.com/index.php?v=listing&cid=63" title="解决方案">解决方案</a>
                    <ul class="bottom-secnav">
                        <li><a href="http://www.eacase.com/solution/e-commerce/" title="全网电商解决方案">全网电商解决方案</a></li>
                        <li><a href="http://www.eacase.com/solution/government/" title="政务门户解决方案">政务门户解决方案</a></li>
                        <li><a href="http://www.eacase.com/solution/company/" title="企业门户解决方案">企业门户解决方案</a></li>
                        <li><a href="http://www.eacase.com/solution/agriculture/" title="生态农业互联网解决方案">生态农业解决方案</a></li>
                    </ul>
                </li>
                <li>
                    <a href="http://www.eacase.com/news/" title="新闻动态">新闻动态</a>
                    <ul class="bottom-secnav">
                        <li><a href="http://www.eacase.com/news/company/" title="公司动态">公司动态</a></li>
                        <li><a href="http://www.eacase.com/news/information/" title="行业动态">行业动态</a></li>
                        <li><a href="http://www.eacase.com/news/development/" title="研发动态">研发动态</a></li>
                    </ul>
                </li>
                <li>
                    <a href="http://www.eacase.com/aboutus/" title="关于我们">关于我们</a>
                    <ul class="bottom-secnav">
                        <li><a href="http://www.eacase.com/aboutus/" title="公司简介">公司简介</a></li>
                        <li><a href="http://www.eacase.com/aboutus/#join-us" title="加入我们">加入我们</a></li>
                        <li><a href="http://www.eacase.com/aboutus/#contact-about" title="联系我们">联系我们</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="bottom-message">
                <form id="mayform" method="post" action="index.php?m=content&v=message">
                    <ul class="bottom-message-list">
                        <li class="clear">
                            <img src="http://www.eacase.com/images/icon14.png" alt="">
                            <input type="text" name="name" value="" id="name">
                        </li>
                        <li class="clear">
                            <img src="http://www.eacase.com/images/icon15.png" alt="">
                            <input type="text" name="phone" value="" id="phone">
                        </li>
                        <li class="clear">
                            <img src="http://www.eacase.com/images/icon16.png" alt="">
                            <textarea id="message" name="xuqiu"></textarea>
                        </li>
                        <li class="clear">
                            <input type="text" name="checkcode" id="code" placeholder="请输入验证码" datatype="*4-4" errormsg="请输入验证码" sucmsg="输入正确"
                                   onfocus="if($('#code_img_r').attr('src') == 'http://www.eacase.com/res/images/logincode.gif')$('#code_img_r').attr('src', 'http://www.eacase.com/api/identifying_code.php?w=112&h=40&rd='+Math.random());"
                                   class="li-3">
                            <p class="li-2">
                                <img src="http://www.eacase.com/res/images/logincode.gif" id="code_img_r" alt="点击刷新"
                                     onclick="$(this).attr('src', 'http://www.eacase.com/api/identifying_code.php?w=112&h=40&rd='+Math.random());">
                            </p>
                        </li>
                        <li class="clear">
                            <a href="javascript:void(0);" title="提交需求" class="index-send">提交需求</a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <div class="bottom-bottom">
            <div class="bottom-bottom-con clear">
                <div class="bottom-b-l">
                    <p>400-666-4566</p>
                    <p>0471-4599699</p>
                </div>
                <div class="bottom-b-c">
                    <p>admin@eacase.com</p>
                    <p>内蒙古呼和浩特市新华西街50号金葫芦科技大厦15层</p>
                    <p>内蒙古呼和浩特市赛罕区区乌兰察布西街创客大道3层</p>
                </div>
                <div class="bottom-b-r">
                    <img src="http://www.eacase.com/images/ewm.png" alt="">
                </div>
            </div>
        </div>
        <div class="bottom-copy">
            <p>&copy;2008-2017 呼和浩特市一街科技有限公司 版权所有 <a href="http://beian.miit.gov.cn/" target="_blank">蒙ICP备10002867号-7</a>　<a
                    href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=15019002150203" target="_blank"><img
                    src="http://www.eacase.com/images/gaba.png"/> 蒙公网安备 15019002150203号</a>
                <script src="https://s4.cnzz.com/z_stat.php?id=1256560824&web_id=1256560824" language="JavaScript"></script>
            </p>
        </div>
    </div>
    <!-- 飘窗 -->
    <div class="web-float-box">
        <ul class="web-float-list">
            <li class="float-kf">
                <i class="iconfont">&#xe619;</i>
                <em>联系客服</em>
            </li>
            <!--<li>
              <i class="iconfont">&#xe631;</i>
              <em>QQ</em>
            </li> -->
            <li>
                <i class="iconfont">&#xe63a;</i>
                <em>微信</em>
                <img src="http://www.eacase.com/images/wechat.jpg" alt="">
            </li>
            <li class="go-top">
                <i class="iconfont">&#xe63b;</i>
                <em>返回顶部</em>
            </li>
        </ul>
    </div>
    <!-- 飘窗 -->
</footer>
<!-- 飘窗 -->
<style type="text/css">
    .li-3 {
        float: left;
        width: 200px !important;
        padding: 0 !important;
    }

    .li-2 {
        float: right;
    }

    .li-2 > img {
        margin: 0 !important;
        height: 38px !important;
    }
</style>    <!-- 底部 -->
<!-- 脚部 -->
{#<script type="text/javascript" src="http://www.eacase.com/js/jquery.2.0.0.js"></script>#}
<script type="text/javascript" src="http://www.eacase.com/js/common.js"></script>
<script type="text/javascript" src="http://www.eacase.com/js/alerttool.js"></script>
<!-- 客服 -->
<script type='text/javascript'>
    (function (m, ei, q, i, a, j, s) {
        m[i] = m[i] || function () {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '//static.meiqia.com/dist/meiqia.js?_=t';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', '18197');
    _MEIQIA('withoutBtn');
    _MEIQIA('init');

    $('.float-kf,.gdsh-top').on('click', function () {
        _MEIQIA('showPanel');
    });
</script>
<!-- 客服 -->

<!-- 脚部 -->
</body>
</html>