<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no">
    <title>eacase|一街，助力行业信息化建设</title>
    <!--[if lte IE9]>
    <script>window.location.href = 'http://cdn.dmeng.net/upgrade-your-browser.html?referrer=' + location.href;</script>
    <![endif]-->
    <script>
        /*@cc_on window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); @*/
    </script>
    <link rel="stylesheet" href="/static/css/roll.css">
    <link rel="stylesheet" href="/static/css/animation.css"/>
    <link rel="stylesheet" href="/static/demo/css/swiper.min.css"/>
    <link rel="stylesheet" href="/static/js/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/public.css?v1.3"/>
    <link rel="stylesheet" href="/static/css/index.css?v1.3"/>
    <link rel="stylesheet" href="/static/css/erji.css"/>
    <link rel="stylesheet" href="/static/css/iconfont.css"/>
    <link href="/static/css/video-js.min.css" rel="stylesheet">
    <script src="/static/js/video.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/swiper.min.js"></script>
    <script type="text/javascript" src="/static/js/wow.js"></script>
    <script type="text/javascript" src="/static/js/js.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/scrollBar.js"></script>
    <link type="image/x-icon" rel="shortcut icon" href="/static/images/logo.ico"/>
    <!--eacase start-->
    <link rel="shortcut icon" href="http://www.eacase.com/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="http://www.eacase.com/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="/static/eascase/css/style.css">
    <script type="text/javascript" src="http://www.eacase.com/js/swiper-3.4.2.min.js"></script>
    <script type="text/javascript">
        function browserRedirect() {
            var sUserAgent = navigator.userAgent.toLowerCase();
            var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
            var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
            var bIsMidp = sUserAgent.match(/midp/i) == "midp";
            var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
            var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
            var bIsAndroid = sUserAgent.match(/android/i) == "android";
            var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
            var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";

            if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
                window.location.href = 'http://m.eacase.com/';
            }
        }

        browserRedirect();

    </script>
    <!--eacase end-->
</head>
<body>
<div class="wxopen">
    <img src="/static/images/wxopen.png" alt="">
</div>
<header class="index_header">
    <a href="/" class="logo" id="logo1">
        <img src="/static/images/logo.png" class="logo1"/>
        <img src="/static/images/logo_white.png" class="logo2"/>
    </a>
    <a href="/" class="logo" id="logo2">
        <img src="/static/images/logo.png"/>
    </a>
    <ul class="nav" id="nav">
        <li class="" style="position: relative;">
            <a>首页</a>
            <div class="menu-box menu-box-1 menu-box-jrwm">
                <div class="menu-9">
                    <div class="menu-10">
                        <a href="/Technology/core_technology.html">客户案例</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="">
            <a href="#">服务</a>
        </li>
        <li class="">
            <a>解决方案</a>
            <div class="menu-box menu-box-1" style="transform:translateX(46%)">
                <div class="menu-9">
                    <div class="menu-10">
                        <a href="/about.html#company" onclick="go_hash('company');">全网电商解决方案</a>
                        <a href="/about.html#progress" onclick="go_hash('progress');">政务门户解决方案</a>
                        <a href="/about.html#culture" onclick="go_hash('culture');">企业门户解决方案</a>
                        <a href="/about.html#culture" onclick="go_hash('culture');">生态农业解决方案</a>
                    </div>
                </div>
            </div>
            <script>
                //案例下拉菜单滚动条
                new CusScrollBar({
                    contentSelector: '.scroll_cont', //滚动内容区
                    barSelector: '.scroll_bar', //滚动条
                    sliderSelector: '.scroll_slider' //滚动滑块
                });
                /*案例下拉菜单*/
                $('.menu-7 .menu-13').each(function (i) {
                    $(this).click(function () {
                        if ($(this).parent().next('.menu-14').is(":visible")) {
                            $(this).removeClass('hover');
                            $('.menu-14').slideUp(300);
                        } else {
                            $('.menu-14').slideUp(300);
                            $('.menu-13').removeClass('hover');
                            $(this).addClass('hover');
                            $(this).parent().next('.menu-14').slideDown(300);
                        }
                        setTimeout(function () {
                            if ($('.menu-15').outerHeight() - 10 <= $('.scroll_cont').outerHeight()) {
                                $('.scroll_bar').css('opacity', 0)
                            } else {
                                $('.scroll_bar').css('opacity', 1)
                            }
                        }, 400);

                    })
                })
            </script>
        </li>
        <li class="">
            <a href="/news.html">客户案例</a>
            <div class="menu-box menu-box-1" style="transform:translateX(117%)">
                <div class="menu-9">
                    <div class="menu-10">
                       <a href="/e_commerce#e_commerce">电商平台</a>
                        <a href="/website#website">网站建设</a>
                        <a href="/wchat#wchat">微信/H5</a>
                        <a href="/business#business">业务系统</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="">
            <a href="#">智库</a>
            <div class="menu-box menu-box-1" style="transform:translateX(180%)">
                <div class="menu-9">
                    <div class="menu-10">
                        <a href="/companyActive#company">公司动态</a>
                        <a href="/tradesActive#trades">行业动态</a>
                        <a href="/developmentActive#development">研发动态</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="" style="position: relative;">
            <a href="/miniProgrammer#mini">小程序</a>
        </li>
        <li class="" style="position: relative;">
            <a href="#aboutUS">关于我们</a>
        </li>
    </ul>
    <button type="button" class="navbar-toggle" id="nav-btn">
        <span class="sr-only">切换导航</span>
        <span class="icon-bar bar-1"></span>
        <span class="icon-bar bar-2"></span>
        <span class="icon-bar bar-3"></span>
    </button>
</header>
<!--手机导航-->
<ul id="phone-nav" class="phone-nav">
    <li><a>核心技术</a>
        <div class="phone-nav-1">
            <p class="fanhui"><span class="mui-icon mui-icon-arrowleft"></span>返回</p>
            <a href="/Technology/Core_technology.html">技术能力</a>
            <a href="/Technology/Core_technology.html#styj" onclick="go_hash('styj');">商汤研究</a>
        </div>
    </li>
    <li>
        <a>产品服务</a>
        <div class="phone-nav-1">
            <p class="fanhui"><span class="mui-icon mui-icon-arrowleft"></span>返回</p>
            <a href="/Service/Security_SenseFoundry.html">智慧城市</a>
            <a href="/Service/Phone_SenseMatrix.html">智能手机</a>
            <a href="/Service/sensear_augmentreality.html">泛文化娱乐</a>
            <a class="phone-nav-znqc">
                智能汽车</a>
            <div class="phone-nav-znqc-box">
                <a href="/Service/Drive_SenseDrive.html">智能驾驶</a>
                <a href="/Service/Car_FaceRecognition.html">智能车舱</a>
            </div>
            <div style="margin-left: 4.6%;border-bottom: 1px solid #e6e6e6;"></div>
            <a href="/Service/Medical_diagnosis.html">智慧健康</a>
            <a href="/Service/Finance_SenseID.html">智慧商业与金融</a>
            <a href="/Service/ai_class.html">教育</a>
            <a href="/Service/Advertisement_SenseFocus.html">广告</a>
            <p style="position: absolute;display: block;bottom: 1rem;margin-left: 4.6%;">
                <a href="/Public/form.html" style="color: #969696;">申请试用</a>
                <span class="mui-icon-extra mui-icon-extra-arrowright"></span>
            </p>
        </div>
    </li>
    <script>
        $(function () {
            $('.phone-nav-znqc').click(function () {
                if ($(this).hasClass('hover')) {
                    $(this).removeClass('hover');
                    $(this).next('.phone-nav-znqc-box').slideUp();
                } else {
                    $(this).addClass('hover');
                    $(this).next('.phone-nav-znqc-box').slideDown();
                }

            })
        })
    </script>
    <li>
        <a>客户案例</a>
        <div class="phone-nav-1">
            <p class="fanhui"><span class="mui-icon mui-icon-arrowleft"></span>返回</p>
            <a class="phone-nav-znqc">智慧城市</a>
            <div class="phone-nav-znqc-box">
                <a href="/Case/index/id/1.html">智慧安防</a>
                <a href="/Case/index/id/9.html">智慧交通</a>
                <a href="/Case/index/id/26.html">智慧地产</a>
                <a href="/Case/index/id/13.html">智能设备</a>
                <a href="/Case/index/id/8.html">运营商</a>
                <a href="/Case/index/id/14.html">遥感</a>
                <a href="/Case/index/id/17.html">视频大数据</a>
            </div>
            <div style="margin-left: 4.6%;border-bottom: 1px solid #e6e6e6;"></div>
            <a href="/Case/index/id/3.html">智能手机</a> <a href="/Case/index/id/2.html">泛文化娱乐</a>
            <a class="phone-nav-znqc">智能汽车</a>
            <div class="phone-nav-znqc-box">
                <a href="/Case/index/id/21.html">智能车舱</a>
            </div>
            <div style="margin-left: 4.6%;border-bottom: 1px solid #e6e6e6;"></div>
            <a href="/Case/index/id/16.html">智慧健康</a>
            <a class="phone-nav-znqc">智慧商业与金融</a>
            <div class="phone-nav-znqc-box">
                <a href="/Case/index/id/22.html">线上金融</a>
                <a href="/Case/index/id/23.html">线下金融</a>
                <a href="/Case/index/id/5.html">智慧零售</a></div>
            <div style="margin-left: 4.6%;border-bottom: 1px solid #e6e6e6;"></div>
            <a href="/Case/index/id/7.html">教育</a>
            <a href="/Case/index/id/25.html">广告</a></div>
    </li>
    <li><a href="/news.html">新闻中心</a></li>
    <li>
        <a>关于商汤</a>
        <div class="phone-nav-1">
            <p class="fanhui">
                <span class="mui-icon mui-icon-arrowleft"></span>返回
            </p>
            <a href="/about.html">使命与愿景</a>
            <a href="/about.html#company" onclick="go_hash('company');">商汤介绍</a>
            <a href="/about.html#progress" onclick="go_hash('progress');">商汤之路</a>
            <a href="/about.html#culture" onclick="go_hash('culture');">联系我们</a>

        </div>
    </li>
    <li>
        <a>加入我们</a>
        <div class="phone-nav-1">
            <p class="fanhui"><span class="mui-icon mui-icon-arrowleft"></span>返回</p>
            <a href="https://joinus.sensetime.com/index.html#nrnav-box">走进商汤</a>
            <a href="https://joinus.sensetime.com/Index/news.html#nrnav-box">商汤动态</a>
            <a href="https://sensetime.m.zhiye.com/?from=singlemessage&isappinstalled=0">简历投递</a>
        </div>
    </li>
    <li style="height: 3rem;line-height: 3rem;border-bottom: none;">
        <a href="/en" style="background:none;">EN&nbsp;&nbsp;
            <span class="mui-icon-extra mui-icon-extra-arrowright"></span>
        </a>
    </li>
</ul>
<div id="headerHeight"></div>
<style>
    .logo1 {
        display: none;
    }

    .logo2 {
        display: block;
    }
</style>
<script>
    $('body').find('.index_header').removeClass("index_header").addClass("header_hover");
    $(window).scroll(function () {
        var scroll_header = $(window).scrollTop();
        if (scroll_header >= 1) {
            $("header").addClass("index_header")
            $("header").removeClass("header_hover")
            $(".nav>li>a").css({"height": "60px", "line-height": "60px"})
            $(".logo2").hide();
            $(".logo1").show();
            $("header").mouseover(function () {
                $(".logo1").show();
            });
            $("header").mouseout(function () {
                $(".logo1").show();
                $(".logo2").hide();
            });

        } else {
            $("header").removeClass("index_header")
            $("header").addClass("header_hover")
            $(".nav>li>a").css({"height": "70px", "line-height": "70px"})
            $(".logo2").show();
            $(".logo1").hide();
            $("header").mouseover(function () {
                $(".logo1").show();
                $(".logo2").hide();
            });
            $("header").mouseout(function () {
                $(".logo1").hide();
                $(".logo2").show();
            });
        }
    });
    $(document).ready(function () {
        loop:true;
        var flag = false;
        var swiperFlag = false;
        var mySwiper = new Swiper('.banner_index', {
            effect: 'fade',
            //		pagination : '.banner_index .swiper-pagination',
            //		prevButton: '.banner_index .swiper-button-prev',
            pagination: '.banner_index .swiper-pagination',
            paginationClickable: true,
            autoplay: 8000,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            onSlideChangeEnd: function (swiper) {
                //console.log(swiper.activeIndex);
                //			console.log(11);
                var _this = $('.banner_index .swiper-slide').eq(swiper.activeIndex);
                if (swiper.activeIndex == 0 || swiper.activeIndex == 1) {
                    var video = $("#v" + swiper.activeIndex)[0];
                    if ($(window).innerWidth() > 768) {
                        video.play();
                    }
                }
            }
        })
    })

    function showvideo(vurl) {
        $("#vodeo").modal('show');
        var vd = videojs("my_player");
        vd.src(vurl);
        vd.load(vurl);
        vd.play();
    }

    function hidevideo() {
        $("#vodeo").modal('hide');
        var vd = videojs("my_player");
        vd.pause();

    }
</script>
<!--关于我们-->
<selection id="company">
    <!-- banner -->
    <div class="sub-banner" style="background: url(http://www.eacase.com/images/sub-banner10.jpg) no-repeat center;">
        <em>多元化的互联网资讯</em>
        <span>一街愿与您一同探索互联网+之道，共创美好</span>
    </div>
    <!-- banner -->
    <!-- 公司动态 -->
    <ul class="news-nav">
        <li>
            <h2>
                <a href="/companyActve#company" title="公司动态">公司动态</a>
            </h2>
        </li>
        <li>
            <h2>
                <a href="/tradesActive#trades" title="行业动态">行业动态</a>
            </h2>
        </li>
        <li>
            <h2>
                <a href="/developmentActive#development" class="news-active" title="研发动态">研发动态</a>
            </h2>
        </li>
    </ul>
    <div class="news-con clear">
        <ul class="news-list">
            <li class="clear">
                <a href="/news/company/202004/395.html" target="_blank" title="【通知】一街科技“五一”放假安排">
                    <img src="http://www.eacase.com/uploadfile/2020/05/13/1589354022711155.png" alt="">
                </a>
                <h3>
                    <a href="/news/company/202004/395.html" title="【通知】一街科技“五一”放假安排" target="_blank">【通知】一街科技“五一”放假安排</a>
                </h3>
                <div class="news-des">

                </div>
                <div class="news-info">
                    [来源：]　2020-04-23 15:13:00
                </div>
            </li>
            <li class="clear">
                <a href="/news/company/202004/396.html" target="_blank" title="【通知】一街科技清明节放假安排">
                    <img src="http://www.eacase.com/uploadfile/2020/05/13/1589356466153343.jpg" alt="">
                </a>
                <h3>
                    <a href="/news/company/202004/396.html" title="【通知】一街科技清明节放假安排" target="_blank">【通知】一街科技清明节放假安排</a>
                </h3>
                <div class="news-des">

                </div>
                <div class="news-info">
                    [来源：]　2020-04-02 15:54:00
                </div>
            </li>


            <li class="clear">
                <a href="/news/company/202001/394.html" target="_blank" title="【通知】一街科技关于2020年“春节”放假的安排">
                    <img src="http://www.eacase.com/uploadfile/2020/01/13/20200113142905ph1ctw.png" alt="">
                </a>
                <h3>
                    <a href="/news/company/202001/394.html" title="【通知】一街科技关于2020年“春节”放假的安排" target="_blank">【通知】一街科技关于2020年“春节”放假的安排</a>
                </h3>
                <div class="news-des">
                    【通知】一街科技关于2020年“春节”放假的安排
                </div>
                <div class="news-info">
                    [来源：]　2020-01-10 14:16:00
                </div>
            </li>


            <li class="clear">
                <a href="/news/company/201912/392.html" target="_blank" title="【通知】一街科技关于2020年“元旦”放假的安排">
                    <img src="" alt="">
                </a>
                <h3>
                    <a href="/news/company/201912/392.html" title="【通知】一街科技关于2020年“元旦”放假的安排" target="_blank">【通知】一街科技关于2020年“元旦”放假的安排</a>
                </h3>
                <div class="news-des">

                </div>
                <div class="news-info">
                    [来源：]　2019-12-25 14:14:00
                </div>
            </li>


            <li class="clear">
                <a href="/news/company/201912/391.html" target="_blank" title="【通知】一街科技关于2019年年会的安排">
                    <img src="" alt="">
                </a>
                <h3>
                    <a href="/news/company/201912/391.html" title="【通知】一街科技关于2019年年会的安排" target="_blank">【通知】一街科技关于2019年年会的安排</a>
                </h3>
                <div class="news-des">


                    &nbsp;


                </div>
                <div class="news-info">
                    [来源：]　2019-12-20 14:13:00
                </div>
            </li>


            <li class="clear">
                <a href="/news/company/201912/393.html" target="_blank" title="呼和浩特市一街科技有限公司关于公司集体聚餐活动的通知">
                    <img src="" alt="">
                </a>
                <h3>
                    <a href="/news/company/201912/393.html" title="呼和浩特市一街科技有限公司关于公司集体聚餐活动的通知" target="_blank">呼和浩特市一街科技有限公司关于公司集体聚餐活动的通知</a>
                </h3>
                <div class="news-des">

                </div>
                <div class="news-info">
                    [来源：]　2019-12-05 14:15:00
                </div>
            </li>


            <li class="clear">
                <a href="/news/company/201909/390.html" target="_blank" title="【通知】一街科技关于2019年“国庆节”放假的安排">
                    <img src="" alt="">
                </a>
                <h3>
                    <a href="/news/company/201909/390.html" title="【通知】一街科技关于2019年“国庆节”放假的安排" target="_blank">【通知】一街科技关于2019年“国庆节”放假的安排</a>
                </h3>
                <div class="news-des">

                </div>
                <div class="news-info">
                    [来源：]　2019-09-25 14:11:00
                </div>
            </li>


            <li class="clear">
                <a href="/news/company/201909/389.html" target="_blank" title="【通知】一街科技关于2019年“中秋节”放假的安排">
                    <img src="" alt="">
                </a>
                <h3>
                    <a href="/news/company/201909/389.html" title="【通知】一街科技关于2019年“中秋节”放假的安排" target="_blank">【通知】一街科技关于2019年“中秋节”放假的安排</a>
                </h3>
                <div class="news-des">

                </div>
                <div class="news-info">
                    [来源：]　2019-09-09 14:10:00
                </div>
            </li>


            <li class="clear">
                <a href="/news/company/201908/388.html" target="_blank" title="【通知】呼和浩特市一街科技有限公司关于公司组织团建活动的通知">
                    <img src="" alt="">
                </a>
                <h3>
                    <a href="/news/company/201908/388.html" title="【通知】呼和浩特市一街科技有限公司关于公司组织团建活动的通知" target="_blank">【通知】呼和浩特市一街科技有限公司关于公司组织团建活动的通知</a>
                </h3>
                <div class="news-des">

                </div>
                <div class="news-info">
                    [来源：]　2019-08-06 14:07:00
                </div>
            </li>


            <li class="clear">
                <a href="/news/company/201906/387.html" target="_blank" title="【通知】一街科技关于2019年“端午节”放假的安排">
                    <img src="" alt="">
                </a>
                <h3>
                    <a href="/news/company/201906/387.html" title="【通知】一街科技关于2019年“端午节”放假的安排" target="_blank">【通知】一街科技关于2019年“端午节”放假的安排</a>
                </h3>
                <div class="news-des">

                </div>
                <div class="news-info">
                    [来源：]　2019-06-03 13:53:00
                </div>
            </li>


        </ul>
        <div class="news-recom-box">
            <div class="news-recom-tit clear">
                <img src="http://www.eacase.com/images/bg22.jpg">
                <em>智库推荐</em>
                <span></span>
            </div>
            <ul class="news-recom-list">

                <li>
                    <h3>
                        <a href="http://www.eacase.com/index.php?v=show&cid=67&id=16" title="一街科技签约内蒙古侨联网站改版项目" target="_blank">一街科技签约内蒙古侨联网站改版项目</a>
                    </h3>
                    <div class="news-recom-des clear">
                        <a href="http://www.eacase.com/index.php?v=show&cid=67&id=16" title="http://www.eacase.com/index.php?v=show&cid=67&id=16"
                           target="_blank" class="news-recom-img">
                            <img src="http://www.eacase.com/uploadfile/2017/07/20/20170720160729QSMhAP.jpg" alt="一街科技签约内蒙古侨联网站改版项目">
                        </a>
                        <span>
              一街科技签约内蒙古自治区归国华侨联合会网站改版项目。

              </span>
                        <a href="http://www.eacase.com/index.php?v=show&cid=67&id=16" target="_blank" title="详情" class="news-recom-more">[详情]</a>
                    </div>
                </li>


                <li>
                    <h3>
                        <a href="http://www.eacase.com/index.php?v=show&cid=67&id=11" title="一街科技签约和林县政府网站改版项目" target="_blank">一街科技签约和林县政府网站改版...</a>
                    </h3>
                </li>
            </ul>
        </div>
    </div>
    <!-- 分页 -->
    <div id="pages" class="c2">
        <li title="按住向左方向键 向前翻页"><a href="/news/company/index.html">首页</a></li>
        <li title="总数"><a href="javascript:;">37</a></li>
        <li title="按住向左方向键 向前翻页"><a href="/news/company/index.html">&lt;</a></li>
        <li><a class="active" href="/news/company/index.html">1</a></li>
        <li><a href="/news/company/2.html">2</a></li>
        <li><a href="/news/company/3.html">3</a></li>
        <li><a href="/news/company/4.html">4</a></li>
        <input type="hidden" id="page-up" value="/news/company/index.html"><input type="hidden" id="page-next" value="/news/company/2.html">
        <script>$(this).focus();</script>
        <li title="按住向右方向键 向后翻页"><a href="/news/company/2.html">&gt;</a></li>
        <li title="按住向右方向键 向后翻页"><a href="/news/company/4.html">末页</a></li>
    </div>

    <!-- 分页 -->
    <!-- 公司动态 -->

</selection>
<footer>
    <!-- 底部 -->

    <div class="bottom-box">
        <div class="bottom-top clear">
            <ul class="bottom-nav clear">
                <li>
                    <a href="http://www.eacase.com/service/" title="服务">服务</a>
                    <ul class="bottom-secnav">
                        <li><a href="http://www.eacase.com/service/" title="业务系统研发">业务系统研发</a></li>
                        <li><a href="http://www.eacase.com/service/" title="电商平台业务研发">电商平台业务研发</a></li>
                        <li><a href="http://www.eacase.com/service/" title="高端网站建设">高端网站建设</a></li>
                        <li><a href="http://www.eacase.com/service/" title="微信/H5应用开发">APP/微信/H5开发</a></li>
                    </ul>
                </li>
                <li>
                    <a href="http://www.eacase.com/index.php?v=listing&cid=63" title="解决方案">解决方案</a>
                    <ul class="bottom-secnav">
                        <li><a href="http://www.eacase.com/solution/e-commerce/" title="全网电商解决方案">全网电商解决方案</a></li>
                        <li><a href="http://www.eacase.com/solution/government/" title="政务门户解决方案">政务门户解决方案</a></li>
                        <li><a href="http://www.eacase.com/solution/company/" title="企业门户解决方案">企业门户解决方案</a></li>
                        <li><a href="http://www.eacase.com/solution/agriculture/" title="生态农业互联网解决方案">生态农业解决方案</a></li>
                    </ul>
                </li>
                <li>
                    <a href="http://www.eacase.com/news/" title="新闻动态">新闻动态</a>
                    <ul class="bottom-secnav">
                        <li><a href="http://www.eacase.com/news/company/" title="公司动态">公司动态</a></li>
                        <li><a href="http://www.eacase.com/news/information/" title="行业动态">行业动态</a></li>
                        <li><a href="http://www.eacase.com/news/development/" title="研发动态">研发动态</a></li>
                    </ul>
                </li>
                <li>
                    <a href="http://www.eacase.com/aboutus/" title="关于我们">关于我们</a>
                    <ul class="bottom-secnav">
                        <li><a href="http://www.eacase.com/aboutus/" title="公司简介">公司简介</a></li>
                        <li><a href="http://www.eacase.com/aboutus/#join-us" title="加入我们">加入我们</a></li>
                        <li><a href="http://www.eacase.com/aboutus/#contact-about" title="联系我们">联系我们</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="bottom-message">
                <form id="mayform" method="post" action="index.php?m=content&v=message">
                    <ul class="bottom-message-list">
                        <li class="clear">
                            <img src="http://www.eacase.com/images/icon14.png" alt="">
                            <input type="text" name="name" value="" id="name">
                        </li>
                        <li class="clear">
                            <img src="http://www.eacase.com/images/icon15.png" alt="">
                            <input type="text" name="phone" value="" id="phone">
                        </li>
                        <li class="clear">
                            <img src="http://www.eacase.com/images/icon16.png" alt="">
                            <textarea id="message" name="xuqiu"></textarea>
                        </li>
                        <li class="clear">
                            <input type="text" name="checkcode" id="code" placeholder="请输入验证码" datatype="*4-4" errormsg="请输入验证码" sucmsg="输入正确"
                                   onfocus="if($('#code_img_r').attr('src') == 'http://www.eacase.com/res/images/logincode.gif')$('#code_img_r').attr('src', 'http://www.eacase.com/api/identifying_code.php?w=112&h=40&rd='+Math.random());"
                                   class="li-3">
                            <p class="li-2">
                                <img src="http://www.eacase.com/res/images/logincode.gif" id="code_img_r" alt="点击刷新"
                                     onclick="$(this).attr('src', 'http://www.eacase.com/api/identifying_code.php?w=112&h=40&rd='+Math.random());">
                            </p>
                        </li>
                        <li class="clear">
                            <a href="javascript:void(0);" title="提交需求" class="index-send">提交需求</a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <div class="bottom-bottom">
            <div class="bottom-bottom-con clear">
                <div class="bottom-b-l">
                    <p>400-666-4566</p>
                    <p>0471-4599699</p>
                </div>
                <div class="bottom-b-c">
                    <p>admin@eacase.com</p>
                    <p>内蒙古呼和浩特市新华西街50号金葫芦科技大厦15层</p>
                    <p>内蒙古呼和浩特市赛罕区区乌兰察布西街创客大道3层</p>
                </div>
                <div class="bottom-b-r">
                    <img src="http://www.eacase.com/images/ewm.png" alt="">
                </div>
            </div>
        </div>
        <div class="bottom-copy">
            <p>&copy;2008-2017 呼和浩特市一街科技有限公司 版权所有 <a href="http://beian.miit.gov.cn/" target="_blank">蒙ICP备10002867号-7</a>　<a
                    href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=15019002150203" target="_blank"><img
                    src="http://www.eacase.com/images/gaba.png"/> 蒙公网安备 15019002150203号</a>
                <script src="https://s4.cnzz.com/z_stat.php?id=1256560824&web_id=1256560824" language="JavaScript"></script>
            </p>
        </div>
    </div>
    <!-- 飘窗 -->
    <div class="web-float-box">
        <ul class="web-float-list">
            <li class="float-kf">
                <i class="iconfont">&#xe619;</i>
                <em>联系客服</em>
            </li>
            <!--<li>
              <i class="iconfont">&#xe631;</i>
              <em>QQ</em>
            </li> -->
            <li>
                <i class="iconfont">&#xe63a;</i>
                <em>微信</em>
                <img src="http://www.eacase.com/images/wechat.jpg" alt="">
            </li>
            <li class="go-top">
                <i class="iconfont">&#xe63b;</i>
                <em>返回顶部</em>
            </li>
        </ul>
    </div>
    <!-- 飘窗 -->
</footer>
<!-- 飘窗 -->
<style type="text/css">
    .li-3 {
        float: left;
        width: 200px !important;
        padding: 0 !important;
    }

    .li-2 {
        float: right;
    }

    .li-2 > img {
        margin: 0 !important;
        height: 38px !important;
    }
</style>    <!-- 底部 -->
<!-- 脚部 -->
<script type="text/javascript" src="http://www.eacase.com/js/jquery.2.0.0.js"></script>
<script type="text/javascript" src="http://www.eacase.com/js/common.js"></script>
<script type="text/javascript" src="http://www.eacase.com/js/alerttool.js"></script>
<script type='text/javascript'>
    (function (m, ei, q, i, a, j, s) {
        m[i] = m[i] || function () {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '//static.meiqia.com/dist/meiqia.js?_=t';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', '18197');
    _MEIQIA('withoutBtn');
    _MEIQIA('init');

    $('.float-kf,.gdsh-top').on('click', function () {
        _MEIQIA('showPanel');
    });
</script>
</body>
</html>