<!DOCTYPE html>
<html style="font-size: 50px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style class="vjs-styles-defaults">
        .video-js {
            width: 300px;
            height: 150px;
        }

        .vjs-fluid {
            padding-top: 56.25%
        }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no">
    <title>合作伙伴</title>
    <!--[if lte IE9]>
	<script>window.location.href = 'http://cdn.dmeng.net/upgrade-your-browser.html?referrer=' + location.href;</script>
	<![endif]-->
    <script type="text/javascript" async="" src="/static/css/analytics.js"></script>
    <script type="text/javascript" id="zhuge-js" async="" src="/static/js/zhuge.min.js"></script>
    <script async="" src="/static/js/gio.js"></script>
    <script src="/static/js/hm.js"></script>
    <script src="/static/js/hm(1).js"></script>
    <script>/*@cc_on window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); @*/</script>
    <link rel="stylesheet" href="/static/css/roll.css">
    <link rel="stylesheet" href="/static/css/animation.css">
    <link rel="stylesheet" href="/static/css/swiper.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/public.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/erji.css">
    <link rel="stylesheet" href="/static/css/iconfont.css">
    <link href="/static/css/video-js.min.css" rel="stylesheet">
    <script src="/static/js/video.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/swiper.min.js"></script>
    <script type="text/javascript" src="/static/js/wow.js"></script>
    <script type="text/javascript" src="/static/js/js.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/scrollBar.js"></script>
    <link type="image/x-icon" rel="shortcut icon" href="https://www.sensetime.com/images/logo.ico">

    <script src="/static/css/header"></script>
</head>
<body>

<!--banner-->
<section class="nr-banner a-background" style="background-image: url(/static/images/cooperation_banner.jpg);">
    <div class="width-1220">
        <h1 class="wow fadeInUpa" style="visibility: visible;
         animation-name: fadeInUpa;">他们选择了一街</h1>
        <p class="wow fadeInUpa" data-wow-delay=".2s"
           style="visibility: visible; animation-delay: 0.2s;
           animation-name: fadeInUpa;">11年行业经验，助力互联网+探索之路</p>
    </div>
</section>

<!---->
<section class="bg-f0">
    <div class="width-1220">
        <p class="cplb"><span id="cplb" class="hover">全部展开</span></p>

        <div class="hzhb">
            <div class="hzhb-height">
                <div class="hzhb-2 hzhb-1" style="background: #7d7d7d;">
                    <p>社会机构</p>
                    <p class="hzhb-gd"><i style="font-style: normal;">更多</i><span>+</span></p>
                </div>
                <div class="hzhb-2 m-center" style="display:none;">
                    <img src="/static/Assets/parterner3.png">
                </div>
                <div class="hzhb-2 m-center" style="display:none;">
                    <img src="/static/Assets/parterner4.png">
                </div>
                <div class="hzhb-2 m-center">
                    <img src="/static/Assets/parterner7.png">
                </div>
                <div class="hzhb-2 m-center">
                    <img src="/static/Assets/parterner8.png">
                </div>
                <div class="hzhb-2 m-center">
                    <img src="/static/Assets/parterner9.png">
                </div>
                <div class="hzhb-2 m-center">
                    <img src="/static/Assets/parterner10.png">
                </div>
                <div class="hzhb-2 m-center">
                    <img src="/static/Assets/parterner11.png">
                </div>
                <div class="hzhb-2 m-center">
                    <img src="/static/Assets/parterner12.png">
                </div>
            </div>
        </div>

        <div class="hzhb">
            <div class="hzhb-height">
                <div class="hzhb-2 hzhb-1" style="background: #7d7d7d;">
                    <p>院校机构</p>
                    <p class="hzhb-gd" style="display: none;"><i style="font-style: normal;">更多</i><span>+</span></p>
                </div>
                <div class="hzhb-2 m-center">
                    <img src="/static/Assets/parterner5.png">
                </div>
                <div class="hzhb-2 m-center">
                    <img src="/static/Assets/parterner6.png">
                </div>
            </div>
        </div>

        <div class="hzhb">
            <div class="hzhb-height">
                <div class="hzhb-2 hzhb-1" style="background: #7d7d7d;">
                    <p>政府机关</p>
                    <p class="hzhb-gd" style="display: none;"><i style="font-style: normal;">更多</i><span>+</span></p>
                </div>
                <div class="hzhb-2 m-center">
                    <img src="/static/Assets/parterner1.png">
                </div>
                <div class="hzhb-2 m-center">
                    <img src="/static/Assets/parterner2.png">
                </div>
            </div>
        </div>

    </div>
</section>

<!--footer-->
<footer class="bg-252526">
    <div class="width-1220 footer-1">
        <p class="footer-3">商业合作：<span>400-666-4566</span>
            <span>0471-4599699</span>
            <span class="pull-right">admin@eacase.com</span>
        </p>
        <p class="footer-3">商业合作：<span>内蒙古呼和浩特市新华西街50号金葫芦科技大厦15层 </span>
            <span>| 内蒙古呼和浩特市赛罕区区乌兰察布西街创客大道3层</span>
        </p>
        <div class="footer-4">
            <div class="footer-logo"><img src="/static/images/footer-logo.png"></div>
            <a class="footer-6" id="wxbox2">
                <img src="/static/images/footer-wx.png">
                <div class="wxbox" style="display:none;">
                    <img src="/static/images/erwm.png" alt="">
                </div>
            </a>
            <a class="footer-6 " id="wxbox"><img src="/static/images/footer-weibo.png">
                <div class="wxbox" style="display:none;">
                    <img src="/static/images/erwm1.png" alt="">
                </div>
            </a>

            <a href="https://www.linkedin.com/company/sensetime-group-limited/" class="footer-5" target="_blank"
               style="margin-right: 0;">
                <img src="/static/images/footer-linkedin.png">
            </a>
        </div>
    </div>
    <div class="width-1220 footer-ba">
        <p>
            <span><a href="http://www.beian.miit.gov.cn/" target="-_blank">京 ICP 备 15000892 号-2</a></span>
            <span class="hidden-xs">|</span>
            <span class="footer-ba1"><a
                    href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802026791" target="-_blank">蒙公网安备 15019002150203号</a></span>
            <span>©2008-2017 呼和浩特市一街科技有限公司 版权所有</span>
        </p>
    </div>
</footer>


<script type="text/javascript">
    //阻止事件冒泡
    $('.modal-content').click(function (e) {
        e.stopPropagation()
    })

    $(document).ready(function () {
        $("#wxbox").hover(function () {
            $(this).addClass("footer-6_hover");
            $(this).children(".wxbox").show();
        }, function () {
            $(this).removeClass("footer-6_hover");
            $(this).children(".wxbox").hide();
        });
        $("#wxbox2").hover(function () {
            $(this).addClass("footer-6_hover");
            $(this).children(".wxbox").show();
        }, function () {
            $(this).removeClass("footer-6_hover");
            $(this).children(".wxbox").hide();
        });
    });


    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?95e1c7f2af12086fc92e0742665b8268";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();


    //2019-6-11增加百度代码
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?8ebb5ff06a2c44c46939dec8d61388ed";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<!-- GrowingIO Analytics code version 2.1 -->
<!-- Copyright 2015-2018 GrowingIO, Inc. More info available at http://www.growingio.com -->

<script type="text/javascript">
    !function (e, t, n, g, i) {
        e[i] = e[i] || function () {
            (e[i].q = e[i].q || []).push(arguments)
        }, n = t.createElement("script"), tag = t.getElementsByTagName("script")[0], n.async = 1, n.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + g, tag.parentNode.insertBefore(n, tag)
    }(window, document, "script", "assets.giocdn.com/2.1/gio.js", "gio");
    gio('init', '8539273bfa333d53', {});

    //custom page code begin here

    //custom page code end here

    gio('send');

</script>

<!-- End GrowingIO Analytics code version: 2.1 -->
<!-- 2020-6监测代码 -->

<script type="text/javascript">
    (function () {
        if (window.zhuge) return;
        window.zhuge = [];
        window.zhuge.methods = "_init identify track trackRevenue getDid getSid getKey setSuperProperty setUserProperties setWxProperties setPlatform".split(" ");
        window.zhuge.factory = function (b) {
            return function () {
                var a = Array.prototype.slice.call(arguments);
                a.unshift(b);
                window.zhuge.push(a);
                return window.zhuge;
            }
        };
        for (var i = 0; i < window.zhuge.methods.length; i++) {
            var key = window.zhuge.methods[i];
            window.zhuge[key] = window.zhuge.factory(key);
        }
        window.zhuge.load = function (b, x) {
            if (!document.getElementById("zhuge-js")) {
                var a = document.createElement("script");
                var verDate = new Date();
                var verStr = verDate.getFullYear().toString() + verDate.getMonth().toString() + verDate.getDate().toString();

                a.type = "text/javascript";
                a.id = "zhuge-js";
                a.async = !0;
                a.src = 'https://zgsdk.zhugeio.com/zhuge.min.js?v=' + verStr;
                a.onerror = function () {
                    window.zhuge.identify = window.zhuge.track = function (ename, props, callback) {
                        if (callback && Object.prototype.toString.call(callback) === '[object Function]') {
                            callback();
                        } else if (Object.prototype.toString.call(props) === '[object Function]') {
                            props();
                        }
                    };
                };
                var c = document.getElementsByTagName("script")[0];
                c.parentNode.insertBefore(a, c);
                window.zhuge._init(b, x)
            }
        };
        window.zhuge.load('ac5b5302c0c7462c93d948498aefaf70', { //配置应用的AppKey
            superProperty: { //全局的事件属性(选填)
                '应用名称': '商汤官网'
            },
            adTrack: true,//广告监测开关，默认为false
            zgsee: true,//视屏采集开关， 默认为false
            autoTrack: true,
            //启用全埋点采集（选填，默认false）
            singlePage: true //是否是单页面应用（SPA），启用autoTrack后生效（选填，默认false）
        });
    })();
</script>


<!--返回顶部按钮-->
<div class="to-top" id="to-top">
    <div class="m-center"><img src="/static/images/jt-5.png"></div>
</div>


<script>
    $('.hzhb').each(function () {
        if ($(this).outerHeight() == $(this).find('.hzhb-height').outerHeight()) {
            $(this).find('.hzhb-gd').hide()
        }
    })
    //展开收起
    $('#cplb').click(function () {
        if ($(this).hasClass('hover')) {
            $(this).removeClass('hover').html('全部收起');
            $('.hzhb').each(function () {
                $(this).height($(this).find('.hzhb-height').outerHeight())
            })
            $('.hzhb-gd').addClass('hover').find('i').html('收起');
        } else {
            $(this).addClass('hover').html('全部展开');
            $('.hzhb').height($(window).innerWidth() > 768 ? '5rem' : '4.6rem');
            $('.hzhb-gd').removeClass('hover').find('i').html('展开');
        }
    })

    $('.hzhb-gd').click(function () {
        if ($(this).hasClass('hover')) {
            $(this).removeClass('hover').find('i').html('展开');
            $(this).parents('.hzhb').height($(window).innerWidth() > 768 ? '5rem' : '4.6rem')
        } else {
            $(this).addClass('hover').find('i').html('收起');
            $(this).parents('.hzhb').height($(this).parents('.hzhb-height').outerHeight())
        }
    })
</script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="/static/images/js"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-143749905-1');
</script>

</body>
</html>