<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no">
    <title>weelinktech|蔚来，助力行业信息化建设</title>
    <!--[if lte IE9]>
    <script>window.location.href = 'http://cdn.dmeng.net/upgrade-your-browser.html?referrer=' + location.href;</script>
    <![endif]-->
    <script>
        /*@cc_on window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); @*/
    </script>
    <link rel="stylesheet" href="/static/css/roll.css">
    <link rel="stylesheet" href="/static/css/animation.css"/>
    <link rel="stylesheet" href="/static/demo/css/swiper.min.css"/>
    <link rel="stylesheet" href="/static/js/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/public.css?v1.3"/>
    <link rel="stylesheet" href="/static/css/index.css?v1.3"/>
    <link rel="stylesheet" href="/static/css/erji.css"/>
    <link rel="stylesheet" href="/static/css/iconfont.css"/>
    <link href="/static/css/video-js.min.css" rel="stylesheet">
    <script src="/static/js/video.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/swiper.min.js"></script>
    <script type="text/javascript" src="/static/js/wow.js"></script>
    <script type="text/javascript" src="/static/js/js.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/scrollBar.js"></script>
    <link type="image/x-icon" rel="shortcut icon" href="/static/images/logo.ico"/>
    <!--eacase start-->
    <link rel="shortcut icon" href="http://www.eacase.com/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="http://www.eacase.com/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="/static/eascase/css/style.css">
    <script type="text/javascript" src="http://www.eacase.com/js/swiper-3.4.2.min.js"></script>
    <script type="text/javascript">
        function browserRedirect() {
            var sUserAgent = navigator.userAgent.toLowerCase();
            var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
            var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
            var bIsMidp = sUserAgent.match(/midp/i) == "midp";
            var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
            var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
            var bIsAndroid = sUserAgent.match(/android/i) == "android";
            var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
            var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";

            if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
                window.location.href = 'http://m.eacase.com/';
            }
        }

        browserRedirect();

    </script>
    <!--eacase end-->
</head>
<body>
<div class="wxopen">
    <img src="/static/images/wxopen.png" alt="">
</div>
<header class="index_header">
    <a href="/" class="logo" id="logo1">
        <img src="/static/images/logo.png" class="logo1"/>
        <img src="/static/images/logo_white.png" class="logo2"/>
    </a>
    <a href="/" class="logo" id="logo2">
        <img src="/static/images/logo.png"/>
    </a>
    <ul class="nav" id="nav">
        <li class="" style="position: relative;">
            <a href="/home">首页</a>
        </li>
        <li class="">
            <a href="/service">服务</a>
        </li>
        <li class="">
            <a>解决方案</a>
            <div class="menu-box menu-box-1" style="transform:translateX(46%)">
                <div class="menu-9">
                    <div class="menu-10">
                        <a href="/solution_ecommerce#solution_ecommerce">全网电商解决方案</a>
                        <a href="/solution_government">政务门户解决方案</a>
                        <a href="/solution_company">企业门户解决方案</a>
                        <a href="/solution_agriculture">生态农业解决方案</a>
                    </div>
                </div>
            </div>
            <script>
                //案例下拉菜单滚动条
                new CusScrollBar({
                    contentSelector: '.scroll_cont', //滚动内容区
                    barSelector: '.scroll_bar', //滚动条
                    sliderSelector: '.scroll_slider' //滚动滑块
                });
                /*案例下拉菜单*/
                $('.menu-7 .menu-13').each(function (i) {
                    $(this).click(function () {
                        if ($(this).parent().next('.menu-14').is(":visible")) {
                            $(this).removeClass('hover');
                            $('.menu-14').slideUp(300);
                        } else {
                            $('.menu-14').slideUp(300);
                            $('.menu-13').removeClass('hover');
                            $(this).addClass('hover');
                            $(this).parent().next('.menu-14').slideDown(300);
                        }
                        setTimeout(function () {
                            if ($('.menu-15').outerHeight() - 10 <= $('.scroll_cont').outerHeight()) {
                                $('.scroll_bar').css('opacity', 0)
                            } else {
                                $('.scroll_bar').css('opacity', 1)
                            }
                        }, 400);

                    })
                })
            </script>
        </li>
        <li class="">
            <a>客户案例</a>
            <div class="menu-box menu-box-1" style="transform:translateX(117%)">
                <div class="menu-9">
                    <div class="menu-10">
                       <a href="/e_commerce#e_commerce">电商平台</a>
                        <a href="/website#website">网站建设</a>
                        <a href="/wchat#wchat">微信/H5</a>
                        <a href="/business#business">业务系统</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="">
            <a href="#">智库</a>
            <div class="menu-box menu-box-1" style="transform:translateX(180%)">
                <div class="menu-9">
                    <div class="menu-10">
                        <a href="/companyActive#company">公司动态</a>
                        <a href="/tradesActive#trades">行业动态</a>
                        <a href="/developmentActive#development">研发动态</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="" style="position: relative;">
            <a href="/miniProgrammer#mini">小程序</a>
        </li>
        <li class="" style="position: relative;">
            <a href="#aboutUS">关于我们</a>
        </li>
    </ul>
    <button type="button" class="navbar-toggle" id="nav-btn">
        <span class="sr-only">切换导航</span>
        <span class="icon-bar bar-1"></span>
        <span class="icon-bar bar-2"></span>
        <span class="icon-bar bar-3"></span>
    </button>
</header>

<div id="headerHeight"></div>
<style>
    .logo1 {
        display: none;
    }

    .logo2 {
        display: block;
    }
</style>
<script>
    $('body').find('.index_header').removeClass("index_header").addClass("header_hover");
    $(window).scroll(function () {
        var scroll_header = $(window).scrollTop();
        if (scroll_header >= 1) {
            $("header").addClass("index_header")
            $("header").removeClass("header_hover")
            $(".nav>li>a").css({"height": "60px", "line-height": "60px"})
            $(".logo2").hide();
            $(".logo1").show();
            $("header").mouseover(function () {
                $(".logo1").show();
            });
            $("header").mouseout(function () {
                $(".logo1").show();
                $(".logo2").hide();
            });

        } else {
            $("header").removeClass("index_header")
            $("header").addClass("header_hover")
            $(".nav>li>a").css({"height": "70px", "line-height": "70px"})
            $(".logo2").show();
            $(".logo1").hide();
            $("header").mouseover(function () {
                $(".logo1").show();
                $(".logo2").hide();
            });
            $("header").mouseout(function () {
                $(".logo1").hide();
                $(".logo2").show();
            });
        }
    });
    $(document).ready(function () {
        loop:true;
        var flag = false;
        var swiperFlag = false;
        var mySwiper = new Swiper('.banner_index', {
            effect: 'fade',
            //		pagination : '.banner_index .swiper-pagination',
            //		prevButton: '.banner_index .swiper-button-prev',
            pagination: '.banner_index .swiper-pagination',
            paginationClickable: true,
            autoplay: 8000,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            onSlideChangeEnd: function (swiper) {
                //console.log(swiper.activeIndex);
                //			console.log(11);
                var _this = $('.banner_index .swiper-slide').eq(swiper.activeIndex);
                if (swiper.activeIndex == 0 || swiper.activeIndex == 1) {
                    var video = $("#v" + swiper.activeIndex)[0];
                    if ($(window).innerWidth() > 768) {
                        video.play();
                    }
                }
            }
        })
    })

    function showvideo(vurl) {
        $("#vodeo").modal('show');
        var vd = videojs("my_player");
        vd.src(vurl);
        vd.load(vurl);
        vd.play();
    }

    function hidevideo() {
        $("#vodeo").modal('hide');
        var vd = videojs("my_player");
        vd.pause();

    }
</script>
<section id="development">
    <div class="sub-banner" style="background: url(http://www.eacase.com/images/sub-banner10.jpg) no-repeat center;">
        <em>多元化的互联网资讯</em>
        <span>一街愿与您一同探索互联网+之道，共创美好</span>
    </div>
    <!-- banner -->
    <!-- 公司动态 -->
    <ul class="news-nav">
        <li>
            <h2>
                <a href="/companyActve#company" title="公司动态">公司动态</a>
            </h2>
        </li>
        <li>
            <h2>
                <a href="/tradesActive#trades" title="行业动态">行业动态</a>
            </h2>
        </li>
        <li>
            <h2>
                <a href="/developmentActive#development" class="news-active" title="研发动态">研发动态</a>
            </h2>
        </li>
    </ul>
    <div class="news-con clear">
        <ul class="news-list">

            <li class="clear">
                <a href="/news/development/201805/369.html" target="_blank" title="微信小程序的创业风口在哪里 小程序加盟代理成小本创业首选">
                    <img src="http://www.eacase.com/uploadfile/2019/04/03/20190403155616sQSj6g.jpeg" alt="">
                </a>
                <h3>
                    <a href="/news/development/201805/369.html" title="微信小程序的创业风口在哪里 小程序加盟代理成小本创业首选" target="_blank">微信小程序的创业风口在哪里 小程序加盟代理成小本创业首选</a>
                </h3>
                <div class="news-des">
                    　　2017年9月微信小程序正式上线。张小龙带给大家的&ldquo;用完即走&rdquo;的概念也是悬念十足。经过一年多的发展，小程序行业有褒有贬，但是热度一直没有下降，众多创业者...
                </div>
                <div class="news-info">
                    [来源：A5创业网]　2018-05-18 15:54:00
                </div>
            </li>


            <li class="clear">
                <a href="/news/development/201804/368.html" target="_blank" title="国美推国品“家•生活”联盟 祭出6大标准 承诺“买贵补、晚就赔、不满意退”">
                    <img src="http://www.eacase.com/uploadfile/2019/04/03/201904031536286e5O7L.jpeg" alt="">
                </a>
                <h3>
                    <a href="/news/development/201804/368.html" title="国美推国品“家•生活”联盟 祭出6大标准 承诺“买贵补、晚就赔、不满意退”" target="_blank">国美推国品“家•生活”联盟 祭出6大标准
                        承诺“买贵补、晚就赔、不满意退”</a>
                </h3>
                <div class="news-des">
                    　　4月16日，国美联合格力、美的、海尔、爱空间、宝洁、强生等品牌宣布国品&ldquo;家&middot;生活&rdquo;联盟成立，向消费者做出&ldquo;买贵补、晚就赔、不满意退&rdquo;的...
                </div>
                <div class="news-info">
                    [来源：互联网]　2018-04-18 15:35:00
                </div>
            </li>


            <li class="clear">
                <a href="/news/development/201804/367.html" target="_blank" title="顾家x天猫超级品牌日，品质升级尽享生活">
                    <img src="http://www.eacase.com/uploadfile/2019/04/03/20190403153417cWr9tG.jpg" alt="">
                </a>
                <h3>
                    <a href="/news/development/201804/367.html" title="顾家x天猫超级品牌日，品质升级尽享生活" target="_blank">顾家x天猫超级品牌日，品质升级尽享生活</a>
                </h3>
                <div class="news-des">
                    　　最美的承诺，不外乎&ldquo;给你一个家&rdquo;。如何把爱的小窝打造的甜蜜又温馨？如何让爱的小窝实用又不失独特？世界各地的&ldquo;家&rdquo;又有什么特色和区别？4月13...
                </div>
                <div class="news-info">
                    [来源：互联网]　2018-04-18 15:20:00
                </div>
            </li>


            <li class="clear">
                <a href="/news/development/201804/366.html" target="_blank" title="网库单品产业互联网模式引爆第三届大宗商品电商峰会">
                    <img src="http://www.eacase.com/uploadfile/2019/04/03/2019040315192734xHBC.jpg" alt="">
                </a>
                <h3>
                    <a href="/news/development/201804/366.html" title="网库单品产业互联网模式引爆第三届大宗商品电商峰会" target="_blank">网库单品产业互联网模式引爆第三届大宗商品电商峰会</a>
                </h3>
                <div class="news-des">
                    　　大咖云集、精英荟萃。4月13日，由国家工业信息安全发展研究中心指导，B2B内参主办的2018第三届全国大宗商品电商峰会在北京隆重召开。1500多名B2B及大宗商品电商行业领袖、...
                </div>
                <div class="news-info">
                    [来源：互联网]　2018-04-16 15:18:00
                </div>
            </li>


            <li class="clear">
                <a href="/news/development/201804/365.html" target="_blank" title="陈欧谈街电：已是聚美优品新零售重要一环">
                    <img src="" alt="">
                </a>
                <h3>
                    <a href="/news/development/201804/365.html" title="陈欧谈街电：已是聚美优品新零售重要一环" target="_blank">陈欧谈街电：已是聚美优品新零售重要一环</a>
                </h3>
                <div class="news-des">
                    　　去年，聚美优品创始人兼CEO陈欧以3亿元人民币的价格收购了国内充电宝企业街电，在当时引起了社会各界广泛的关注。一时间，共享充电宝也成为了2017年度中国媒体十大新词语...
                </div>
                <div class="news-info">
                    [来源：]　2018-04-13 15:15:00
                </div>
            </li>


            <li class="clear">
                <a href="/news/development/201804/364.html" target="_blank" title="拼多多爆红：低价是原罪吗？或许你不懂中国">
                    <img src="http://www.eacase.com/uploadfile/2019/04/03/20190403151401wQ5YNg.png" alt="">
                </a>
                <h3>
                    <a href="/news/development/201804/364.html" title="拼多多爆红：低价是原罪吗？或许你不懂中国" target="_blank">拼多多爆红：低价是原罪吗？或许你不懂中国</a>
                </h3>
                <div class="news-des">
                    　　如何定义&ldquo;有价值的用户&rdquo;?
                    　　有人说：&ldquo;真正有价值的用户，都是价格不敏感的。用户体验才是真正关心的。&rdquo;
                    　　说出这话的，应该不是互联网从...
                </div>
                <div class="news-info">
                    [来源：]　2018-04-10 15:12:00
                </div>
            </li>


            <li class="clear">
                <a href="/news/development/201804/363.html" target="_blank" title="巅峰钜惠！飞利浦电视京东413倒计时！">
                    <img src="" alt="">
                </a>
                <h3>
                    <a href="/news/development/201804/363.html" title="巅峰钜惠！飞利浦电视京东413倒计时！" target="_blank">巅峰钜惠！飞利浦电视京东413倒计时！</a>
                </h3>
                <div class="news-des">
                    　　如果很久没有被钜惠福利宠爱，那么你不能错过飞利浦电视的4月&ldquo;巅峰月&rdquo;!继&ldquo;超级品牌月&rdquo;之后，飞利浦电视线上平台持续发力，继续给用户带来最大的...
                </div>
                <div class="news-info">
                    [来源：]　2018-04-10 15:11:00
                </div>
            </li>


            <li class="clear">
                <a href="/news/development/201711/99.html" target="_blank" title="京东小程序双11数据亮眼，小程序必将成未来十年的电商趋势！">
                    <img src="http://www.eacase.com/uploadfile/2017/12/04/20171204114305EFQCR1.jpg" alt="">
                </a>
                <h3>
                    <a href="/news/development/201711/99.html" title="京东小程序双11数据亮眼，小程序必将成未来十年的电商趋势！" target="_blank">京东小程序双11数据亮眼，小程序必将成未来十年的电商趋势！</a>
                </h3>
                <div class="news-des">
                    　　摘要：小程序能够很好的帮助电商行业实现引流，微信商城和小程序将成未来十年的营销趋势。

                    　　引爆全球的双十一电商剧已经完美落下帷幕。据媒体公布的数据显示，在双...
                </div>
                <div class="news-info">
                    [来源：]　2017-11-29 11:41:00
                </div>
            </li>


            <li class="clear">
                <a href="/news/development/201711/98.html" target="_blank" title="有了微店还需要做小程序吗?答案是很有必要">
                    <img src="http://www.eacase.com/uploadfile/2017/12/04/20171204112948r7YlyR.jpg" alt="">
                </a>
                <h3>
                    <a href="/news/development/201711/98.html" title="有了微店还需要做小程序吗?答案是很有必要" target="_blank">有了微店还需要做小程序吗?答案是很有必要</a>
                </h3>
                <div class="news-des">
                    　　微店可以卖产品，小程序也可以卖产品，很多人就会说了，我的微店做的很好，还需要做微信小程序吗?　　&nbsp;

                    　　其实，这句话说得很虚，微店作为移动端的新型产物，任...
                </div>
                <div class="news-info">
                    [来源：]　2017-11-29 11:29:00
                </div>
            </li>


            <li class="clear">
                <a href="/news/development/201711/97.html" target="_blank" title="小程序的电商之路：从线下与线上“逆流而上">
                    <img src="http://www.eacase.com/uploadfile/2017/12/04/20171204112812wd2kNn.jpg" alt="">
                </a>
                <h3>
                    <a href="/news/development/201711/97.html" title="小程序的电商之路：从线下与线上“逆流而上" target="_blank">小程序的电商之路：从线下与线上“逆流而上</a>
                </h3>
                <div class="news-des">
                    　　越来越多的电商发现，小程序对于电商来说，已经成为一个重要的环节，就在双十一之后，支付宝关于小程序新闻开始大量出现了，原因不言自喻，在这个双十一之前，小程序开启...
                </div>
                <div class="news-info">
                    [来源：]　2017-11-15 11:27:00
                </div>
            </li>


        </ul>
        <div class="news-recom-box">
            <div class="news-recom-tit clear">
                <img src="http://www.eacase.com/images/bg22.jpg">
                <em>智库推荐</em>
                <span></span>
            </div>
            <ul class="news-recom-list">


            </ul>
        </div>
    </div>
    <!-- 分页 -->
    <div id="pages" class="c2">
        <li title="按住向左方向键 向前翻页"><a href="/news/development/index.html">首页</a></li>
        <li title="总数"><a href="javascript:;">31</a></li>
        <li title="按住向左方向键 向前翻页"><a href="/news/development/index.html">&lt;</a></li>
        <li><a class="active" href="/news/development/index.html">1</a></li>
        <li><a href="/news/development/2.html">2</a></li>
        <li><a href="/news/development/3.html">3</a></li>
        <li><a href="/news/development/4.html">4</a></li>
        <input type="hidden" id="page-up" value="/news/development/index.html"><input type="hidden" id="page-next" value="/news/development/2.html">
        <script>$(this).focus();</script>
        <li title="按住向右方向键 向后翻页"><a href="/news/development/2.html">&gt;</a></li>
        <li title="按住向右方向键 向后翻页"><a href="/news/development/4.html">末页</a></li>
    </div>
    <!-- 分页 -->
</section>
{% include "footer.html"%}
<!-- 飘窗 -->
<style type="text/css">
    .li-3 {
        float: left;
        width: 200px !important;
        padding: 0 !important;
    }

    .li-2 {
        float: right;
    }

    .li-2 > img {
        margin: 0 !important;
        height: 38px !important;
    }
</style>
{#<script type="text/javascript" src="http://www.eacase.com/js/jquery.2.0.0.js"></script>#}
<script type="text/javascript" src="http://www.eacase.com/js/common.js"></script>
<script type="text/javascript" src="http://www.eacase.com/js/alerttool.js"></script>
<!-- 客服 -->
<script type='text/javascript'>
    (function (m, ei, q, i, a, j, s) {
        m[i] = m[i] || function () {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '//static.meiqia.com/dist/meiqia.js?_=t';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', '18197');
    _MEIQIA('withoutBtn');
    _MEIQIA('init');

    $('.float-kf,.gdsh-top').on('click', function () {
        _MEIQIA('showPanel');
    });
</script>
</body>
</html>