<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no">
    <title>eacase|一街，助力行业信息化建设</title>
    <!--[if lte IE9]>
    <script>window.location.href = 'http://cdn.dmeng.net/upgrade-your-browser.html?referrer=' + location.href;</script>
    <![endif]-->
    <script>
        /*@cc_on window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); @*/
    </script>
    <link rel="stylesheet" href="/static/css/roll.css">
    <link rel="stylesheet" href="/static/css/animation.css"/>
    <link rel="stylesheet" href="/static/demo/css/swiper.min.css"/>
    <link rel="stylesheet" href="/static/js/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/public.css?v1.3"/>
    <link rel="stylesheet" href="/static/css/index.css?v1.3"/>
    <link rel="stylesheet" href="/static/css/erji.css"/>
    <link rel="stylesheet" href="/static/css/iconfont.css"/>
    <link href="/static/css/video-js.min.css" rel="stylesheet">
    <script src="/static/js/video.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/swiper.min.js"></script>
    <script type="text/javascript" src="/static/js/wow.js"></script>
    <script type="text/javascript" src="/static/js/js.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/scrollBar.js"></script>
    <link type="image/x-icon" rel="shortcut icon" href="/static/images/logo.ico"/>
    <!--eacase start-->
    <link rel="shortcut icon" href="http://www.eacase.com/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="http://www.eacase.com/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="/static/eascase/css/style.css">
    <script type="text/javascript" src="http://www.eacase.com/js/swiper-3.4.2.min.js"></script>
    <script type="text/javascript">
        function browserRedirect() {
            var sUserAgent = navigator.userAgent.toLowerCase();
            var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
            var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
            var bIsMidp = sUserAgent.match(/midp/i) == "midp";
            var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
            var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
            var bIsAndroid = sUserAgent.match(/android/i) == "android";
            var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
            var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";

            if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
                window.location.href = 'http://m.eacase.com/';
            }
        }

        browserRedirect();

    </script>
    <!--eacase end-->
</head>
<body>
<div class="wxopen">
    <img src="/static/images/wxopen.png" alt="">
</div>
<header class="index_header">
    <a href="/" class="logo" id="logo1">
        <img src="/static/images/logo.png" class="logo1"/>
        <img src="/static/images/logo_white.png" class="logo2"/>
    </a>
    <a href="/" class="logo" id="logo2">
        <img src="/static/images/logo.png"/>
    </a>
    <ul class="nav" id="nav">
        <li class="" style="position: relative;">
            <a>首页</a>
            <div class="menu-box menu-box-1 menu-box-jrwm">
                <div class="menu-9">
                    <div class="menu-10">
                        <a href="/Technology/core_technology.html">客户案例</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="">
            <a href="#">服务</a>
        </li>
        <li class="">
            <a>解决方案</a>
            <div class="menu-box menu-box-1" style="transform:translateX(46%)">
                <div class="menu-9">
                    <div class="menu-10">
                        <a href="/about.html#company" onclick="go_hash('company');">全网电商解决方案</a>
                        <a href="/about.html#progress" onclick="go_hash('progress');">政务门户解决方案</a>
                        <a href="/about.html#culture" onclick="go_hash('culture');">企业门户解决方案</a>
                        <a href="/about.html#culture" onclick="go_hash('culture');">生态农业解决方案</a>
                    </div>
                </div>
            </div>
            <script>
                //案例下拉菜单滚动条
                new CusScrollBar({
                    contentSelector: '.scroll_cont', //滚动内容区
                    barSelector: '.scroll_bar', //滚动条
                    sliderSelector: '.scroll_slider' //滚动滑块
                });
                /*案例下拉菜单*/
                $('.menu-7 .menu-13').each(function (i) {
                    $(this).click(function () {
                        if ($(this).parent().next('.menu-14').is(":visible")) {
                            $(this).removeClass('hover');
                            $('.menu-14').slideUp(300);
                        } else {
                            $('.menu-14').slideUp(300);
                            $('.menu-13').removeClass('hover');
                            $(this).addClass('hover');
                            $(this).parent().next('.menu-14').slideDown(300);
                        }
                        setTimeout(function () {
                            if ($('.menu-15').outerHeight() - 10 <= $('.scroll_cont').outerHeight()) {
                                $('.scroll_bar').css('opacity', 0)
                            } else {
                                $('.scroll_bar').css('opacity', 1)
                            }
                        }, 400);

                    })
                })
            </script>
        </li>
        <li class="">
            <a href="/news.html">客户案例</a>
            <div class="menu-box menu-box-1" style="transform:translateX(117%)">
                <div class="menu-9">
                    <div class="menu-10">
                       <a href="/e_commerce#e_commerce">电商平台</a>
                        <a href="/website#website">网站建设</a>
                        <a href="/wchat#wchat">微信/H5</a>
                        <a href="/business#business">业务系统</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="">
            <a href="#">智库</a>
            <div class="menu-box menu-box-1" style="transform:translateX(180%)">
                <div class="menu-9">
                    <div class="menu-10">
                        <a href="/companyActive#company">公司动态</a>
                        <a href="/tradesActive#trades">行业动态</a>
                        <a href="/developmentActive#development">研发动态</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="" style="position: relative;">
            <a href="/miniProgrammer#mini">小程序</a>
        </li>
        <li class="" style="position: relative;">
            <a href="#aboutUS">关于我们</a>
        </li>
    </ul>
    <button type="button" class="navbar-toggle" id="nav-btn">
        <span class="sr-only">切换导航</span>
        <span class="icon-bar bar-1"></span>
        <span class="icon-bar bar-2"></span>
        <span class="icon-bar bar-3"></span>
    </button>
</header>
<!--手机导航-->
<ul id="phone-nav" class="phone-nav">
    <li><a>核心技术</a>
        <div class="phone-nav-1">
            <p class="fanhui"><span class="mui-icon mui-icon-arrowleft"></span>返回</p>
            <a href="/Technology/Core_technology.html">技术能力</a>
            <a href="/Technology/Core_technology.html#styj" onclick="go_hash('styj');">商汤研究</a>
        </div>
    </li>
    <li>
        <a>产品服务</a>
        <div class="phone-nav-1">
            <p class="fanhui"><span class="mui-icon mui-icon-arrowleft"></span>返回</p>
            <a href="/Service/Security_SenseFoundry.html">智慧城市</a>
            <a href="/Service/Phone_SenseMatrix.html">智能手机</a>
            <a href="/Service/sensear_augmentreality.html">泛文化娱乐</a>
            <a class="phone-nav-znqc">
                智能汽车</a>
            <div class="phone-nav-znqc-box">
                <a href="/Service/Drive_SenseDrive.html">智能驾驶</a>
                <a href="/Service/Car_FaceRecognition.html">智能车舱</a>
            </div>
            <div style="margin-left: 4.6%;border-bottom: 1px solid #e6e6e6;"></div>
            <a href="/Service/Medical_diagnosis.html">智慧健康</a>
            <a href="/Service/Finance_SenseID.html">智慧商业与金融</a>
            <a href="/Service/ai_class.html">教育</a>
            <a href="/Service/Advertisement_SenseFocus.html">广告</a>
            <p style="position: absolute;display: block;bottom: 1rem;margin-left: 4.6%;">
                <a href="/Public/form.html" style="color: #969696;">申请试用</a>
                <span class="mui-icon-extra mui-icon-extra-arrowright"></span>
            </p>
        </div>
    </li>
    <script>
        $(function () {
            $('.phone-nav-znqc').click(function () {
                if ($(this).hasClass('hover')) {
                    $(this).removeClass('hover');
                    $(this).next('.phone-nav-znqc-box').slideUp();
                } else {
                    $(this).addClass('hover');
                    $(this).next('.phone-nav-znqc-box').slideDown();
                }

            })
        })
    </script>
    <li>
        <a>客户案例</a>
        <div class="phone-nav-1">
            <p class="fanhui"><span class="mui-icon mui-icon-arrowleft"></span>返回</p>
            <a class="phone-nav-znqc">智慧城市</a>
            <div class="phone-nav-znqc-box">
                <a href="/Case/index/id/1.html">智慧安防</a>
                <a href="/Case/index/id/9.html">智慧交通</a>
                <a href="/Case/index/id/26.html">智慧地产</a>
                <a href="/Case/index/id/13.html">智能设备</a>
                <a href="/Case/index/id/8.html">运营商</a>
                <a href="/Case/index/id/14.html">遥感</a>
                <a href="/Case/index/id/17.html">视频大数据</a>
            </div>
            <div style="margin-left: 4.6%;border-bottom: 1px solid #e6e6e6;"></div>
            <a href="/Case/index/id/3.html">智能手机</a> <a href="/Case/index/id/2.html">泛文化娱乐</a>
            <a class="phone-nav-znqc">智能汽车</a>
            <div class="phone-nav-znqc-box">
                <a href="/Case/index/id/21.html">智能车舱</a>
            </div>
            <div style="margin-left: 4.6%;border-bottom: 1px solid #e6e6e6;"></div>
            <a href="/Case/index/id/16.html">智慧健康</a>
            <a class="phone-nav-znqc">智慧商业与金融</a>
            <div class="phone-nav-znqc-box">
                <a href="/Case/index/id/22.html">线上金融</a>
                <a href="/Case/index/id/23.html">线下金融</a>
                <a href="/Case/index/id/5.html">智慧零售</a></div>
            <div style="margin-left: 4.6%;border-bottom: 1px solid #e6e6e6;"></div>
            <a href="/Case/index/id/7.html">教育</a>
            <a href="/Case/index/id/25.html">广告</a></div>
    </li>
    <li><a href="/news.html">新闻中心</a></li>
    <li>
        <a>关于商汤</a>
        <div class="phone-nav-1">
            <p class="fanhui">
                <span class="mui-icon mui-icon-arrowleft"></span>返回
            </p>
            <a href="/about.html">使命与愿景</a>
            <a href="/about.html#company" onclick="go_hash('company');">商汤介绍</a>
            <a href="/about.html#progress" onclick="go_hash('progress');">商汤之路</a>
            <a href="/about.html#culture" onclick="go_hash('culture');">联系我们</a>

        </div>
    </li>
    <li>
        <a>加入我们</a>
        <div class="phone-nav-1">
            <p class="fanhui"><span class="mui-icon mui-icon-arrowleft"></span>返回</p>
            <a href="https://joinus.sensetime.com/index.html#nrnav-box">走进商汤</a>
            <a href="https://joinus.sensetime.com/Index/news.html#nrnav-box">商汤动态</a>
            <a href="https://sensetime.m.zhiye.com/?from=singlemessage&isappinstalled=0">简历投递</a>
        </div>
    </li>
    <li style="height: 3rem;line-height: 3rem;border-bottom: none;">
        <a href="/en" style="background:none;">EN&nbsp;&nbsp;
            <span class="mui-icon-extra mui-icon-extra-arrowright"></span>
        </a>
    </li>
</ul>
<div id="headerHeight"></div>
<style>
    .logo1 {
        display: none;
    }

    .logo2 {
        display: block;
    }
</style>
<script>
    $('body').find('.index_header').removeClass("index_header").addClass("header_hover");
    $(window).scroll(function () {
        var scroll_header = $(window).scrollTop();
        if (scroll_header >= 1) {
            $("header").addClass("index_header")
            $("header").removeClass("header_hover")
            $(".nav>li>a").css({"height": "60px", "line-height": "60px"})
            $(".logo2").hide();
            $(".logo1").show();
            $("header").mouseover(function () {
                $(".logo1").show();
            });
            $("header").mouseout(function () {
                $(".logo1").show();
                $(".logo2").hide();
            });

        } else {
            $("header").removeClass("index_header")
            $("header").addClass("header_hover")
            $(".nav>li>a").css({"height": "70px", "line-height": "70px"})
            $(".logo2").show();
            $(".logo1").hide();
            $("header").mouseover(function () {
                $(".logo1").show();
                $(".logo2").hide();
            });
            $("header").mouseout(function () {
                $(".logo1").hide();
                $(".logo2").show();
            });
        }
    });
    $(document).ready(function () {
        loop:true;
        var flag = false;
        var swiperFlag = false;
        var mySwiper = new Swiper('.banner_index', {
            effect: 'fade',
            //		pagination : '.banner_index .swiper-pagination',
            //		prevButton: '.banner_index .swiper-button-prev',
            pagination: '.banner_index .swiper-pagination',
            paginationClickable: true,
            autoplay: 8000,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            onSlideChangeEnd: function (swiper) {
                //console.log(swiper.activeIndex);
                //			console.log(11);
                var _this = $('.banner_index .swiper-slide').eq(swiper.activeIndex);
                if (swiper.activeIndex == 0 || swiper.activeIndex == 1) {
                    var video = $("#v" + swiper.activeIndex)[0];
                    if ($(window).innerWidth() > 768) {
                        video.play();
                    }
                }
            }
        })
    })

    function showvideo(vurl) {
        $("#vodeo").modal('show');
        var vd = videojs("my_player");
        vd.src(vurl);
        vd.load(vurl);
        vd.play();
    }

    function hidevideo() {
        $("#vodeo").modal('hide');
        var vd = videojs("my_player");
        vd.pause();

    }
</script>
<!--关于我们-->
<selection id="e_commerce">
    <!-- banner -->
    <div class="sub-banner" style="background: url(http://www.eacase.com/images/sub-banner5.jpg) no-repeat center;">
        <em>一街，助力行业信息化建设</em>
        <span>我们已为500+企事业单位提供了互联网+解决方案</span>
    </div>
    <!-- banner -->
    <!-- 客户案例 -->
    <div class="agric-tit">
        <em>客户案例</em>
        <img src="http://www.eacase.com/images/service1.jpg" alt="">
    </div>
    <ul class="sub-nav-con clear">
        <li>
            <a href="http://www.eacase.com/case/" class="clear">
                <i class="iconfont">&#xe65c;</i>
                <em>全部案例</em>
                <span>All the cases</span>
            </a>
        </li>
        <li class="sub-nav-on">
            <a href="http://www.eacase.com/case/e-commerce/" class="clear">
                <i class="iconfont">&#xe621;</i>
                <em>电商平台</em>
                <span>E-commerce</span>
            </a>
        </li>
        <li>
            <a href="http://www.eacase.com/case/web/" class="clear">
                <i class="iconfont">&#xe855;</i>
                <em>网站建设</em>
                <span>Website design</span>
            </a>
        </li>
        <li>
            <a href="http://www.eacase.com/case/wechat/" class="clear">
                <i class="iconfont">&#xe606;</i>
                <em>微信/H5</em>
                <span>Wechat/HTML5</span>
            </a>
        </li>
        <li>
            <a href="http://www.eacase.com/case/system/" class="clear">
                <i class="iconfont">&#xe60d;</i>
                <em>业务系统</em>
                <span>Operation system</span>
            </a>
        </li>
    </ul>
    <ul class="case-list">
        <li class="clear">
            <a href="/case/e-commerce/201709/47.html" target="_blank">
                <em>第二届中蒙博览会电子商务展销平台</em>
                <span> 本平台由参展厂家直接供货，保证正品，客户可通过直接扫描展区商品旁边的二维码或虚拟试衣系统的产品二维码进入商城查看产品的详细介绍并下单购买，系统支持微信支付、支付宝支付和货到付款三种付款方式。展会结束后本平台将由第三方服务公司负责运营、发货和售后服务，平台将不定期开展有满减、满赠、积分、...</span>
            </a>
            <img src="http://www.eacase.com/uploadfile/2017/09/30/20170930160122U4lFhi.jpg" alt="第二届中蒙博览会电子商务展销平台">
            <h3>第二届中蒙博览会电子商务展销平台</h3>
            <div class="case-des">
                本平台由参展厂家直接供货，保证正品，客户可通过直接扫描展区商品旁边的二维码或虚拟试衣系统的产品二维码进入商城查看产品的详细介绍并下单购买，系统支持微信支付、支付宝支付和货到付款三种付款方式。展会结束后本平台将由第三方服务公司负责运营、发货和售后服务，平台将不定期开展有满减、满赠、积分、...
            </div>
            <div class="case-tag clear">
                <i>电商平台</i></i>
            </div>
        </li>
        <li class="clear">
            <a href="/case/e-commerce/201709/46.html" target="_blank">
                <em>第二届中蒙博览会电商综合体验展大数据平台</em>
                <span> 系统通过对参展企业自营店铺及第三方店铺进行智能化数据采集，在进行清洗与挖掘分析工作，通过大屏幕进行可视化展示，展示的内容有B2C成交额、成交额排行、参展企业数量、参展企业类型等线上交易数据，以及绒毛出口量、出口种类、出口国家等数据。</span>
            </a>
            <img src="http://www.eacase.com/uploadfile/2017/09/30/20170930155252ZQG4xp.jpg" alt="第二届中蒙博览会电商综合体验展大数据平台">
            <h3>第二届中蒙博览会电商综合体验展大数据平台</h3>
            <div class="case-des">
                系统通过对参展企业自营店铺及第三方店铺进行智能化数据采集，在进行清洗与挖掘分析工作，通过大屏幕进行可视化展示，展示的内容有B2C成交额、成交额排行、参展企业数量、参展企业类型等线上交易数据，以及绒毛出口量、出口种类、出口国家等数据。
            </div>
            <div class="case-tag clear">
                <i>电商大数据</i></i>
            </div>
        </li>
        <li class="clear">
            <a href="/case/e-commerce/201708/35.html" target="_blank">
                <em>数巢-电商大数据平台</em>
                <span> 数巢(datanest.cc),是一个电子商务大数据收集、统计、分析平台,把握电子商务脉搏,帮助相关企业、政府部门、高校、科研院所提供数据依据。</span>
            </a>
            <img src="http://www.eacase.com/uploadfile/2017/08/18/20170818120125rv8B7T.png" alt="数巢-电商大数据平台">
            <h3>数巢-电商大数据平台</h3>
            <div class="case-des">
                数巢(datanest.cc),是一个电子商务大数据收集、统计、分析平台,把握电子商务脉搏,帮助相关企业、政府部门、高校、科研院所提供数据依据。
            </div>
            <div class="case-tag clear">
                <i>电商大数据</i></i>
            </div>
        </li>
        <li class="clear">
            <a href="/case/e-commerce/201708/29.html" target="_blank">
                <em>科右中旗电子商务公共服务平台</em>
                <span> 科右中旗电子商务公共服务平台是科右中旗电子商务服务站建立的，服务全旗电商从业者的综合性平台。同时科右中旗为做好全国电子商务进农村示范旗建设，实现“大众创业，万众创新”，解决农村传统的“买难”、“卖难”问题，方便农牧民生产生活，推动农村牧区经济发展，普及农牧民对电子商务的认知和理解，实现...</span>
            </a>
            <img src="http://www.eacase.com/uploadfile/2017/08/11/20170811170532RedXP2.jpg" alt="科右中旗电子商务公共服务平台">
            <h3>科右中旗电子商务公共服务平台</h3>
            <div class="case-des">
                科右中旗电子商务公共服务平台是科右中旗电子商务服务站建立的，服务全旗电商从业者的综合性平台。同时科右中旗为做好全国电子商务进农村示范旗建设，实现“大众创业，万众创新”，解决农村传统的“买难”、“卖难”问题，方便农牧民生产生活，推动农村牧区经济发展，普及农牧民对电子商务的认知和理解，实现...
            </div>
            <div class="case-tag clear">
                <i>电商公共服务平台</i></i>
            </div>
        </li>
        <li class="clear">
            <a href="/case/e-commerce/201708/26.html" target="_blank">
                <em>金普商城</em>
                <span> 金普商品现货商城-国内领先的金银器、钻石类商城。</span>
            </a>
            <img src="http://www.eacase.com/uploadfile/2017/08/11/20170811164128caElO3.jpg" alt="金普商城">
            <h3>金普商城</h3>
            <div class="case-des">
                金普商品现货商城-国内领先的金银器、钻石类商城。
            </div>
            <div class="case-tag clear">
                <i>B2C商城</i></i>
            </div>
        </li>
        <li class="clear">
            <a href="/case/e-commerce/201708/25.html" target="_blank">
                <em>扶贫商城</em>
                <span> 扶贫商城——搭建地方扶贫电商平台，扶持地方企业发展，促进地方人员就业，繁荣地方经济发展。</span>
            </a>
            <img src="http://www.eacase.com/uploadfile/2017/08/11/20170811151339jT745N.jpg" alt="扶贫商城">
            <h3>扶贫商城</h3>
            <div class="case-des">
                扶贫商城——搭建地方扶贫电商平台，扶持地方企业发展，促进地方人员就业，繁荣地方经济发展。
            </div>
            <div class="case-tag clear">
                <i>B2B2C商城</i></i>
            </div>
        </li>
        <li class="clear">
            <a href="/case/e-commerce/201708/24.html" target="_blank">
                <em>科尔沁商城</em>
                <span> 科尔沁商城是县域电子商务创新的销售载体，致力于发展县域传统商家的电子商务应用，由内蒙古联创电子商务有限公司在2016年12月创立。现今的主要业务模式是新商业·新零售理念下的O2O（线上线下相结合）体系。平台现已覆盖了乌兰浩特市、科尔沁左翼中旗、扎鲁特旗等县域电子商务经济的发展。</span>
            </a>
            <img src="http://www.eacase.com/uploadfile/2017/08/11/20170811130455bZcE39.jpg" alt="科尔沁商城">
            <h3>科尔沁商城</h3>
            <div class="case-des">
                科尔沁商城是县域电子商务创新的销售载体，致力于发展县域传统商家的电子商务应用，由内蒙古联创电子商务有限公司在2016年12月创立。现今的主要业务模式是新商业·新零售理念下的O2O（线上线下相结合）体系。平台现已覆盖了乌兰浩特市、科尔沁左翼中旗、扎鲁特旗等县域电子商务经济的发展。
            </div>
            <div class="case-tag clear">
                <i>B2B2C商城</i></i>
            </div>
        </li>
        <li class="clear">
            <a href="/case/e-commerce/201708/23.html" target="_blank">
                <em>草原淘宝</em>
                <span> 草原淘宝,科右中旗人民的购物天堂,草原淘宝汇聚了本地各类优秀商品,团购,外卖,商城给您带来更加贴心的购物体验！</span>
            </a>
            <img src="http://www.eacase.com/uploadfile/2017/08/11/201708111126518MdlUa.jpg" alt="草原淘宝">
            <h3>草原淘宝</h3>
            <div class="case-des">
                草原淘宝,科右中旗人民的购物天堂,草原淘宝汇聚了本地各类优秀商品,团购,外卖,商城给您带来更加贴心的购物体验！
            </div>
            <div class="case-tag clear">
                <i>B2B2C商城</i></i>
            </div>
        </li>
    </ul>
    <!-- 分页 -->
    <div id="pages" class="c2">
        <li title="按住向左方向键 向前翻页"><a href="/case/e-commerce/index.html">首页</a></li>
        <li title="总数"><a href="javascript:;">11</a></li>
        <li title="按住向左方向键 向前翻页"><a href="/case/e-commerce/index.html">&lt;</a></li>
        <li><a class="active" href="/case/e-commerce/index.html">1</a></li>
        <li><a href="/case/e-commerce/2.html">2</a></li>
        <input type="hidden" id="page-up" value="/case/e-commerce/index.html"><input type="hidden" id="page-next" value="/case/e-commerce/2.html">
        <script>$(this).focus();</script>
        <li title="按住向右方向键 向后翻页"><a href="/case/e-commerce/2.html">&gt;</a></li>
        <li title="按住向右方向键 向后翻页"><a href="/case/e-commerce/2.html">末页</a></li>
    </div>
    <!-- 分页 -->
    <!-- 客户案例 -->
</selection>
<footer>
    <!-- 底部 -->

    <div class="bottom-box">
        <div class="bottom-top clear">
            <ul class="bottom-nav clear">
                <li>
                    <a href="http://www.eacase.com/service/" title="服务">服务</a>
                    <ul class="bottom-secnav">
                        <li><a href="http://www.eacase.com/service/" title="业务系统研发">业务系统研发</a></li>
                        <li><a href="http://www.eacase.com/service/" title="电商平台业务研发">电商平台业务研发</a></li>
                        <li><a href="http://www.eacase.com/service/" title="高端网站建设">高端网站建设</a></li>
                        <li><a href="http://www.eacase.com/service/" title="微信/H5应用开发">APP/微信/H5开发</a></li>
                    </ul>
                </li>
                <li>
                    <a href="http://www.eacase.com/index.php?v=listing&cid=63" title="解决方案">解决方案</a>
                    <ul class="bottom-secnav">
                        <li><a href="http://www.eacase.com/solution/e-commerce/" title="全网电商解决方案">全网电商解决方案</a></li>
                        <li><a href="http://www.eacase.com/solution/government/" title="政务门户解决方案">政务门户解决方案</a></li>
                        <li><a href="http://www.eacase.com/solution/company/" title="企业门户解决方案">企业门户解决方案</a></li>
                        <li><a href="http://www.eacase.com/solution/agriculture/" title="生态农业互联网解决方案">生态农业解决方案</a></li>
                    </ul>
                </li>
                <li>
                    <a href="http://www.eacase.com/news/" title="新闻动态">新闻动态</a>
                    <ul class="bottom-secnav">
                        <li><a href="http://www.eacase.com/news/company/" title="公司动态">公司动态</a></li>
                        <li><a href="http://www.eacase.com/news/information/" title="行业动态">行业动态</a></li>
                        <li><a href="http://www.eacase.com/news/development/" title="研发动态">研发动态</a></li>
                    </ul>
                </li>
                <li>
                    <a href="http://www.eacase.com/aboutus/" title="关于我们">关于我们</a>
                    <ul class="bottom-secnav">
                        <li><a href="http://www.eacase.com/aboutus/" title="公司简介">公司简介</a></li>
                        <li><a href="http://www.eacase.com/aboutus/#join-us" title="加入我们">加入我们</a></li>
                        <li><a href="http://www.eacase.com/aboutus/#contact-about" title="联系我们">联系我们</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="bottom-message">
                <form id="mayform" method="post" action="index.php?m=content&v=message">
                    <ul class="bottom-message-list">
                        <li class="clear">
                            <img src="http://www.eacase.com/images/icon14.png" alt="">
                            <input type="text" name="name" value="" id="name">
                        </li>
                        <li class="clear">
                            <img src="http://www.eacase.com/images/icon15.png" alt="">
                            <input type="text" name="phone" value="" id="phone">
                        </li>
                        <li class="clear">
                            <img src="http://www.eacase.com/images/icon16.png" alt="">
                            <textarea id="message" name="xuqiu"></textarea>
                        </li>
                        <li class="clear">
                            <input type="text" name="checkcode" id="code" placeholder="请输入验证码" datatype="*4-4" errormsg="请输入验证码" sucmsg="输入正确"
                                   onfocus="if($('#code_img_r').attr('src') == 'http://www.eacase.com/res/images/logincode.gif')$('#code_img_r').attr('src', 'http://www.eacase.com/api/identifying_code.php?w=112&h=40&rd='+Math.random());"
                                   class="li-3">
                            <p class="li-2">
                                <img src="http://www.eacase.com/res/images/logincode.gif" id="code_img_r" alt="点击刷新"
                                     onclick="$(this).attr('src', 'http://www.eacase.com/api/identifying_code.php?w=112&h=40&rd='+Math.random());">
                            </p>
                        </li>
                        <li class="clear">
                            <a href="javascript:void(0);" title="提交需求" class="index-send">提交需求</a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <div class="bottom-bottom">
            <div class="bottom-bottom-con clear">
                <div class="bottom-b-l">
                    <p>400-666-4566</p>
                    <p>0471-4599699</p>
                </div>
                <div class="bottom-b-c">
                    <p>admin@eacase.com</p>
                    <p>内蒙古呼和浩特市新华西街50号金葫芦科技大厦15层</p>
                    <p>内蒙古呼和浩特市赛罕区区乌兰察布西街创客大道3层</p>
                </div>
                <div class="bottom-b-r">
                    <img src="http://www.eacase.com/images/ewm.png" alt="">
                </div>
            </div>
        </div>
        <div class="bottom-copy">
            <p>&copy;2008-2017 呼和浩特市一街科技有限公司 版权所有 <a href="http://beian.miit.gov.cn/" target="_blank">蒙ICP备10002867号-7</a>　<a
                    href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=15019002150203" target="_blank"><img
                    src="http://www.eacase.com/images/gaba.png"/> 蒙公网安备 15019002150203号</a>
                <script src="https://s4.cnzz.com/z_stat.php?id=1256560824&web_id=1256560824" language="JavaScript"></script>
            </p>
        </div>
    </div>
    <!-- 飘窗 -->
    <div class="web-float-box">
        <ul class="web-float-list">
            <li class="float-kf">
                <i class="iconfont">&#xe619;</i>
                <em>联系客服</em>
            </li>
            <!--<li>
              <i class="iconfont">&#xe631;</i>
              <em>QQ</em>
            </li> -->
            <li>
                <i class="iconfont">&#xe63a;</i>
                <em>微信</em>
                <img src="http://www.eacase.com/images/wechat.jpg" alt="">
            </li>
            <li class="go-top">
                <i class="iconfont">&#xe63b;</i>
                <em>返回顶部</em>
            </li>
        </ul>
    </div>
    <!-- 飘窗 -->
</footer>
<!-- 飘窗 -->
<style type="text/css">
    .li-3 {
        float: left;
        width: 200px !important;
        padding: 0 !important;
    }

    .li-2 {
        float: right;
    }

    .li-2 > img {
        margin: 0 !important;
        height: 38px !important;
    }
</style>    <!-- 底部 -->
<!-- 脚部 -->
{#<script type="text/javascript" src="http://www.eacase.com/js/jquery.2.0.0.js"></script>#}
<script type="text/javascript" src="http://www.eacase.com/js/common.js"></script>
<script type="text/javascript" src="http://www.eacase.com/js/alerttool.js"></script>
<!-- 客服 -->
<script type='text/javascript'>
    (function (m, ei, q, i, a, j, s) {
        m[i] = m[i] || function () {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '//static.meiqia.com/dist/meiqia.js?_=t';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', '18197');
    _MEIQIA('withoutBtn');
    _MEIQIA('init');

    $('.float-kf,.gdsh-top').on('click', function () {
        _MEIQIA('showPanel');
    });
</script>
<!-- 客服 -->

<!-- 脚部 -->
</body>
</html>