<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<!--footer-->
<footer class="bg-252526">
    <div class="width-1220 footer-1">
        <p class="footer-3">商业合作：<span>18618268484 | 1371413341</span>
            <span>| 13410751228</span>
            <span class="pull-right">BR@weelinktech.com</span>
        </p>
        <p class="footer-3">商业合作：<span>深圳市南山区粤海街道高新社区社区高新南四道025号高新工业村W2-A栋1层109室</span>
        </p>
        <div class="footer-4">
            <div class="footer-logo"><img src="/static/images/logo.png"></div>
            <a class="footer-6" id="wxbox2">
                <img src="/static/images/footer-wx.png">
                <div class="wxbox" style="display:none;">
                    <img src="/static/images/erwm.png" alt="">
                </div>
            </a>
        </div>
    </div>
    <div class="width-1220 footer-ba">
        <p>
            <span><a href="http://www.beian.miit.gov.cn/" target="-_blank">粤ICP备20051028号</a></span>
            <span class="hidden-xs">|</span>
            {#            <span class="footer-ba1"><a#}
            {#                    href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802026791" target="-_blank">蒙公网安备 15019002150203号</a></span>#}
            <span>Copyright©2020 蔚来物联科技(深圳)有限公司</span>
        </p>
    </div>

    <script type="text/javascript">
        //阻止事件冒泡
        $('.modal-content').click(function (e) {
            e.stopPropagation()
        })

        $(document).ready(function () {
            $("#wxbox").hover(function () {
                $(this).addClass("footer-6_hover");
                $(this).children(".wxbox").show();
            }, function () {
                $(this).removeClass("footer-6_hover");
                $(this).children(".wxbox").hide();
            });
            $("#wxbox2").hover(function () {
                $(this).addClass("footer-6_hover");
                $(this).children(".wxbox").show();
            }, function () {
                $(this).removeClass("footer-6_hover");
                $(this).children(".wxbox").hide();
            });
        });


        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?95e1c7f2af12086fc92e0742665b8268";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();


        //2019-6-11增加百度代码
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?8ebb5ff06a2c44c46939dec8d61388ed";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script type='text/javascript'>
        !function (e, t, n, g, i) {
            e[i] = e[i] || function () {
                (e[i].q = e[i].q || []).push(arguments)
            }, n = t.createElement("script"), tag = t.getElementsByTagName("script")[0], n.async = 1, n.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + g, tag.parentNode.insertBefore(n, tag)
        }(window, document, "script", "assets.giocdn.com/2.1/gio.js", "gio");
        gio('init', '8539273bfa333d53', {});
        gio('send');
    </script>

    <!-- End GrowingIO Analytics code version: 2.1 -->
    <!--返回顶部按钮-->
    <div class="to-top" id="to-top">
        <div class="m-center"><img src="/static/images/jt-5.png"/></div>
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143749905-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-143749905-1');
    </script>
</footer>
</body>
</html>