<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<!--footer-->
<footer class="bg-252526">
    <div class="width-1220 footer-1">
        <p class="footer-3">商业合作：<span>18618268484 | 1371413341</span>
            <span>13410751228</span>
            <span class="pull-right">BR@weelinktech.com</span>
        </p>
        <p class="footer-3">商业合作：<span>深圳市南山区粤海街道高新社区社区高新南四道025号高新工业村W2-A栋1层109室</span>
        </p>
        <div class="footer-4">
            <div class="footer-logo"><img src="/static/images/logo.png"></div>
            <a class="footer-6" id="wxbox2">
                <img src="/static/images/footer-wx.png">
                <div class="wxbox" style="display:none;">
                    <img src="/static/images/erwm.png" alt="">
                </div>
            </a>
            <a class="footer-6 " id="wxbox"><img src="/static/images/footer-weibo.png">
                <div class="wxbox" style="display:none;">
                    <img src="/static/images/erwm1.png" alt="">
                </div>
            </a>

            <a href="https://www.linkedin.com/company/sensetime-group-limited/" class="footer-5" target="_blank"
               style="margin-right: 0;">
                <img src="/static/images/footer-linkedin.png">
            </a>
        </div>
    </div>
    <div class="width-1220 footer-ba">
        <p>
            <span><a href="http://www.beian.miit.gov.cn/" target="-_blank">粤ICP备20051028号</a></span>
            <span class="hidden-xs">|</span>
            <span class="footer-ba1"><a
                    href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802026791" target="-_blank">蒙公网安备 15019002150203号</a></span>
            <span>Copyright©2020 蔚来物联科技(深圳)有限公司</span>
        </p>
    </div>
</footer>
</body>
</html>