<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no">

    <title>eacase|一街，助力行业信息化建设</title>
    <!--[if lte IE9]>
    <script>window.location.href = 'http://cdn.dmeng.net/upgrade-your-browser.html?referrer=' + location.href;</script>
    <![endif]-->
    <script>
        /*@cc_on window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); @*/
    </script>
    <link rel="stylesheet" href="/static/css/roll.css">
    <link rel="stylesheet" href="/static/css/animation.css"/>
    <link rel="stylesheet" href="/static/demo/css/swiper.min.css"/>
    <link rel="stylesheet" href="/static/js/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/public.css?v1.3"/>
    <link rel="stylesheet" href="/static/css/index.css?v1.3"/>
    <link rel="stylesheet" href="/static/css/erji.css"/>
    <link rel="stylesheet" href="/static/css/iconfont.css"/>
    <link href="/static/css/video-js.min.css" rel="stylesheet">
    <script src="/static/js/video.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/swiper.min.js"></script>
    <script type="text/javascript" src="/static/js/wow.js"></script>
    <script type="text/javascript" src="/static/js/js.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/scrollBar.js"></script>
    <link type="image/x-icon" rel="shortcut icon" href="/static/images/logo.ico"/>

    <!--eacase start-->
    <link rel="shortcut icon" href="/static/eascase/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/eascase/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="/static/eascase/css/style.css">
    <script type="text/javascript" src="/static/eascase/js/swiper-3.4.2.min.js"></script>
    <script type="text/javascript">
        function browserRedirect() {
            var sUserAgent = navigator.userAgent.toLowerCase();
            var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
            var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
            var bIsMidp = sUserAgent.match(/midp/i) == "midp";
            var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
            var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
            var bIsAndroid = sUserAgent.match(/android/i) == "android";
            var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
            var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";

            if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
                window.location.href = 'http://m.eacase.com/';
            }
        }

        browserRedirect();
    </script>
    <script type="text/javascript" src="/static/eascase/maps-1.3_ee2616508c5901d518ab15d.js"></script>
    <!--eacase end-->

</head>
<body id="backView">
<div class="wxopen">
    <img src="/static/images/wxopen.png" alt="">
</div>
<header class="index_header">
    <a href="/" class="logo" id="logo1"><img src="/static/images/logo.png" class="logo1"/><img
            src="/static/images/logo_white.png" class="logo2"/></a>
    <a href="/" class="logo" id="logo2"><img src="/static/images/logo.png"/></a>
    <ul class="nav" id="nav">
        <li class="" style="position: relative;">
            <a>首页</a>
        </li>
        <li class="" style="position: relative;">
            <a onclick="toInternet()">服务</a>
            <div class="menu-box menu-box-1 menu-box-jrwm">
                <div class="menu-9">
                    <div class="menu-10">
                        <a onclick="toInternet()">业务系统研发</a>
                        <a onclick="toInternet()">电商平台开发</a>
                        <a onclick="toInternet()">APP/微信/H5应用开发</a>
                        <a onclick="toInternet()">高端网站建设</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="" style="position: relative">
            <a onclick="toSolution()">解决方案</a>
            <div class="menu-box menu-anli" style="transform:translateX(-50%)">
                <div class="scroll_main">
                    <div class="scroll_wrap">
                        <div class="scroll_cont">
                            <div class="menu-15">
                                <div class="menu-7" style="border: none; padding: 0;">
                                    <a href="/solution_ecommerce" class="menu-8">
                                        <p>全网电商解决方案</p>
                                    </a>
                                    <a href="/solution_government" class="menu-8">
                                        <p>政务门户解决方案</p>
                                    </a>
                                    <a href="/solution_company" class="menu-8">
                                        <p>企业门户解决方案</p>
                                    </a>
                                    <a href="/solution_agriculture" class="menu-8">
                                        <p>生态农业解决方案</p>
                                    </a>
                                </div>
                                <a href="/solution_ecommerce" class="menu-8">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="scroll_bar">
                        <div class="scroll_slider"></div>
                    </div>
                </div>
            </div>
            </div>
            <script>
                function toInternet() {
                    $("html,body").animate({ scrollTop: $("#business").offset().top }, 500);
                }

                function toSolution() {
                    $("html,body").animate({ scrollTop: $("#solution").offset().top }, 500);
                }

                //案例下拉菜单滚动条
                new CusScrollBar({
                    contentSelector: '.scroll_cont', //滚动内容区
                    barSelector: '.scroll_bar', //滚动条
                    sliderSelector: '.scroll_slider' //滚动滑块
                });

                /*案例下拉菜单*/

                $('.menu-7 .menu-13').each(function (i) {
                    $(this).click(function () {
                        if ($(this).parent().next('.menu-14').is(":visible")) {
                            $(this).removeClass('hover');
                            $('.menu-14').slideUp(300);
                        } else {
                            $('.menu-14').slideUp(300);
                            $('.menu-13').removeClass('hover');
                            $(this).addClass('hover');
                            $(this).parent().next('.menu-14').slideDown(300);
                        }

                        setTimeout(function () {
                            if ($('.menu-15').outerHeight() - 10 <= $('.scroll_cont').outerHeight()) {
                                $('.scroll_bar').css('opacity', 0)
                            } else {
                                $('.scroll_bar').css('opacity', 1)
                            }
                        }, 400);

                    })
                })
            </script>
        </li>
        <li class="" style="position: relative">
            <a href="#">客户案例</a>
            <div class="menu-box menu-box-1" style="transform:translateX(-50%)">
                <div class="menu-9">
                    <div class="menu-10">
                        <a href="/e_commerce#e_commerce">电商平台</a>
                        <a href="/website#website">网站建设</a>
                        <a href="/wchat#wchat">微信/H5</a>
                        <a href="/business#business">业务系统</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="" style="position: relative">
            <a href="#">智库</a>
            <div class="menu-box menu-box-1" style="transform:translateX(-50%)">
                <div class="menu-9">
                    <div class="menu-10">
                        <a href="/companyActive#company">公司动态</a>
                        <a href="/tradesActive#trades">行业动态</a>
                        <a href="/developmentActive#development">研发动态</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="" style="position: relative;">
            <a href="/miniProgrammer#mini">小程序</a>
        </li>
        <li class="" style="position: relative;">
            <a href="/about#aboutUS">关于我们</a>
        </li>
    </ul>
    <button type="button" class="navbar-toggle" id="nav-btn">
        <span class="sr-only">切换导航</span>
        <span class="icon-bar bar-1"></span>
        <span class="icon-bar bar-2"></span>
        <span class="icon-bar bar-3"></span>
    </button>
</header>
<!--手机导航-->
<ul id="phone-nav" class="phone-nav">
    <li><a>核心技术</a>
        <div class="phone-nav-1">
            <p class="fanhui"><span class="mui-icon mui-icon-arrowleft"></span>返回</p>
            <a href="/Technology/Core_technology.html">技术能力</a>
            <a href="/Technology/Core_technology.html#styj" onclick="go_hash('styj');">商汤研究</a>
        </div>
    </li>
    <li>
        <a>产品服务</a>
        <div class="phone-nav-1">
            <p class="fanhui"><span class="mui-icon mui-icon-arrowleft"></span>返回</p>
            <a href="/Service/Security_SenseFoundry.html">智慧城市</a>
            <a href="/Service/Phone_SenseMatrix.html">智能手机</a>
            <a href="/Service/sensear_augmentreality.html">泛文化娱乐</a>
            <a class="phone-nav-znqc">
                智能汽车</a>
            <div class="phone-nav-znqc-box">
                <a href="/Service/Drive_SenseDrive.html">智能驾驶</a>
                <a href="/Service/Car_FaceRecognition.html">智能车舱</a>
            </div>
            <div style="margin-left: 4.6%;border-bottom: 1px solid #e6e6e6;"></div>
            <a href="/Service/Medical_diagnosis.html">智慧健康</a>
            <a href="/Service/Finance_SenseID.html">智慧商业与金融</a>
            <a href="/Service/ai_class.html">教育</a>
            <a href="/Service/Advertisement_SenseFocus.html">广告</a>
            <p style="
	    position: absolute;
	    display: block;
	    bottom: 1rem;
	    margin-left: 4.6%;
	"><a href="/Public/form.html" style="color: #969696;">申请试用</a><span
                    class="mui-icon-extra mui-icon-extra-arrowright"></span></p>
        </div>
    </li>
    <script>
        $(function () {
            $('.phone-nav-znqc').click(function () {
                if ($(this).hasClass('hover')) {
                    $(this).removeClass('hover');
                    $(this).next('.phone-nav-znqc-box').slideUp();
                } else {
                    $(this).addClass('hover');
                    $(this).next('.phone-nav-znqc-box').slideDown();
                }

            })
        })
    </script>
    <li><a>客户案例</a>
        <div class="phone-nav-1">
            <p class="fanhui"><span class="mui-icon mui-icon-arrowleft"></span>返回</p>


            <a class="phone-nav-znqc">智慧城市</a>
            <div class="phone-nav-znqc-box">
                <a href="/Case/index/id/1.html">智慧安防</a><a href="/Case/index/id/9.html">智慧交通</a><a
                    href="/Case/index/id/26.html">智慧地产</a><a href="/Case/index/id/13.html">智能设备</a><a
                    href="/Case/index/id/8.html">运营商</a><a href="/Case/index/id/14.html">遥感</a><a
                    href="/Case/index/id/17.html">视频大数据</a></div>
            <div style="margin-left: 4.6%;border-bottom: 1px solid #e6e6e6;"></div>
            <a href="/Case/index/id/3.html">智能手机</a> <a href="/Case/index/id/2.html">泛文化娱乐</a><a class="phone-nav-znqc">智能汽车</a>
            <div class="phone-nav-znqc-box">
                <a href="/Case/index/id/21.html">智能车舱</a></div>
            <div style="margin-left: 4.6%;border-bottom: 1px solid #e6e6e6;"></div>
            <a href="/Case/index/id/16.html">智慧健康</a><a class="phone-nav-znqc">智慧商业与金融</a>
            <div class="phone-nav-znqc-box">
                <a href="/Case/index/id/22.html">线上金融</a><a href="/Case/index/id/23.html">线下金融</a><a
                    href="/Case/index/id/5.html">智慧零售</a></div>
            <div style="margin-left: 4.6%;border-bottom: 1px solid #e6e6e6;"></div>
            <a href="/Case/index/id/7.html">教育</a> <a href="/Case/index/id/25.html">广告</a></div>
    </li>
    <li><a href="/news.html">新闻中心</a></li>
    <li><a>关于商汤</a>
        <div class="phone-nav-1">
            <p class="fanhui"><span class="mui-icon mui-icon-arrowleft"></span>返回</p>
            <a href="/about.html">使命与愿景</a>
            <a href="/about.html#company" onclick="go_hash('company');">商汤介绍</a>
            <a href="/about.html#progress" onclick="go_hash('progress');">商汤之路</a>
            <a href="/about.html#culture" onclick="go_hash('culture');">联系我们</a>

        </div>
    </li>
    <li><a>加入我们</a>
        <div class="phone-nav-1">
            <p class="fanhui"><span class="mui-icon mui-icon-arrowleft"></span>返回</p>
            <a href="https://joinus.sensetime.com/index.html#nrnav-box">走进商汤</a>
            <a href="https://joinus.sensetime.com/Index/news.html#nrnav-box">商汤动态</a>
            <a href="https://sensetime.m.zhiye.com/?from=singlemessage&isappinstalled=0">简历投递</a>

        </div>
    </li>
    <li style="height: 3rem;line-height: 3rem;border-bottom: none;"><a href="/en" style="background:none;">EN&nbsp;&nbsp;<span
            class="mui-icon-extra mui-icon-extra-arrowright"></span></a></li>
</ul>
<div id="headerHeight"></div>


<style>
    .logo1 {
        display: none;
    }

    .logo2 {
        display: block;
    }
</style>
<!--banner-->
<section class="banner" id="banner">
    <!--图片轮播-->
    <div class="swiper-container banner_index">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <a target="_blank" class=" visible-a">
                    <div class="a-background bannerbg"
                         style="background-image: url(/static/images/banner17_bg.jpg);"></div>
                </a>
                <a target="_blank" class=" visible-b">
                    <div class="a-background bannerbg"
                         style="background-image: url(/static/images/banner17_bg_mobi.jpg);"></div>
                </a>
            </div>

            <div class="swiper-slide">
                <a>
                    <div class="a-background bannerbg visible-a	"
                         style="background-image: url(/static/images/banner16_bg.jpg);"></div>
                    <div class="a-background bannerbg visible-b"
                         style="background-image: url(/static/images/banner16_bg_mobi.jpg);"></div>
                </a>
            </div>

            <div class="swiper-slide">
                <a>
                    <div class="a-background bannerbg visible-a	"
                         style="background-image: url(/static/images/banner14_bg.jpg);"></div>
                    <div class="a-background bannerbg visible-b"
                         style="background-image: url(/static/images/banner14_bg_mobi.jpg);"></div>
                </a>
            </div>

        </div>
        <div class="swiper-pagination" style="bottom:22px;"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>
<script>

    $('body').find('.index_header').removeClass("index_header").addClass("header_hover");
    $(window).scroll(function () {
        var scroll_header = $(window).scrollTop();
        if (scroll_header >= 1) {
            $("header").addClass("index_header")
            $("header").removeClass("header_hover")
            $(".nav>li>a").css({"height": "60px", "line-height": "60px"})
            $(".logo2").hide();
            $(".logo1").show();
            $("header").mouseover(function () {
                $(".logo1").show();
            });
            $("header").mouseout(function () {
                $(".logo1").show();
                $(".logo2").hide();
            });

        } else {
            $("header").removeClass("index_header")
            $("header").addClass("header_hover")
            $(".nav>li>a").css({"height": "70px", "line-height": "70px"})
            $(".logo2").show();
            $(".logo1").hide();
            $("header").mouseover(function () {

                $(".logo1").show();
                $(".logo2").hide();
            });
            $("header").mouseout(function () {
                $(".logo1").hide();
                $(".logo2").show();
            });
        }

    });
    $(document).ready(function () {

        loop:true;
        var flag = false;
        var swiperFlag = false;
        var mySwiper = new Swiper('.banner_index', {

            effect: 'fade',
            //		pagination : '.banner_index .swiper-pagination',
            //		prevButton: '.banner_index .swiper-button-prev',
            pagination: '.banner_index .swiper-pagination',
            paginationClickable: true,
            autoplay: 8000,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            onSlideChangeEnd: function (swiper) {
                //console.log(swiper.activeIndex);
                //			console.log(11);
                var _this = $('.banner_index .swiper-slide').eq(swiper.activeIndex);
                if (swiper.activeIndex == 0 || swiper.activeIndex == 1) {
                    var video = $("#v" + swiper.activeIndex)[0];
                    if ($(window).innerWidth() > 768) {
                        video.play();
                    }
                }
            }
        })
    })

    function showvideo(vurl) {
        $("#vodeo").modal('show');
        var vd = videojs("my_player");
        vd.src(vurl);
        vd.load(vurl);
        vd.play();
    }

    function hidevideo() {
        $("#vodeo").modal('hide');
        var vd = videojs("my_player");
        vd.pause();

    }
</script>

<!--视频弹窗-->
<div class="modal fade" id="vodeo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     onclick="hidevideo('');">
    <div class="modal-dialog modal-vodeo">
        <div class="modal-content">
            <button type="button" class="close m-close" aria-hidden="true" onclick="hidevideo();">&times;</button>
            <video
                    id="my_player"
                    class="video-js vjs-big-play-centered vjs-fluid"
                    controls
                    preload="auto"
                    data-setup='{}'>
                <source src="/video/2019brand.mp4" type="video/mp4"></source>
                <p class="vjs-no-js">
                    请开启Javascript脚本以便
                </p>
            </video>
        </div>
    </div>
</div>
<section>
    <div class="index-bt index_about_info" id="business">
        <h1 class=" wow fadeInUp">
            创新型互联网软件开发服务商
        </h1>
        <p class=" wow fadeInUp">一街秉承专业、创新、极致的服务理念，让您的项目更具竞争力和影响力</p>
        <a href="/service" class="btn-ljgd btn-ljgd2  wow fadeInUp" data-wow-delay="0.4s">了解更多<span></span></a>
    </div>
</section>
<section>
    <div class="width-1220 index_block wow fadeInUpa">
        <div class="index_block_box">
            <div class="index_block_top">
                <div class="class_name">业务系统研发</div>
                <a href="/service">
                    <div class="class_Arrow">
                        <span>了解更多</span>
                        <img src="/static/images/index_block_Arrow.png" alt="">
                    </div>
                </a>
                <img src="/static/images/index_block1.jpg" alt="" class="index_block_img img-responsive">
            </div>
            <div class="index_block_bottom">
                <li>
                    <a href="/News/view/id/213.html">
                        <div class="news_title">一流的软件工程师为你量身定制业务应用系统</div>
                    </a>
                </li>
            </div>
        </div>

        <div class="index_block_box">
            <div class="index_block_top">
                <div class="class_name">电商平台开发</div>
                <a href="/service">
                    <div class="class_Arrow">
                        <span>了解更多</span>
                        <img src="/static/images/index_block_Arrow.png" alt="">
                    </div>
                </a>
                <img src="/static/images/index_block2.jpg" alt="" class="index_block_img img-responsive">
            </div>
            <div class="index_block_bottom">
                <li>
                    <a href="/News/view/id/189.html">
                        <div class="news_title">B2C/B2B2C/O2O/B2B, 让互联网商务无处不在</div>
                    </a>
                </li>
            </div>
        </div>

        <div class="index_block_box">
            <div class="index_block_top">
                <div class="class_name">高端网站建设</div>
                <a href="/service">
                    <div class="class_Arrow">
                        <span>了解更多</span>
                        <img src="/static/images/index_block_Arrow.png" alt="">
                    </div>
                </a>
                <img src="/static/images/index_block1.jpg" alt="" class="index_block_img img-responsive">
            </div>
            <div class="index_block_bottom">
                <li>
                    <a href="/News/view/id/189.html">
                        <div class="news_title">11年高端网站建设经验，为企事业单位提供高品质建站服务</div>
                    </a>
                </li>
            </div>
        </div>

        <div class="index_block_box">
            <div class="index_block_top">
                <div class="class_name">APP/微信/H5应用开发</div>
                <a href="/service">
                    <div class="class_Arrow">
                        <span>了解更多</span>
                        <img src="/static/images/index_block_Arrow.png" alt="">
                    </div>
                </a>
                <img src="/static/images/index_block3.jpg" alt="" class="index_block_img img-responsive">
            </div>
            <div class="index_block_bottom">
                <li>
                    <a href="/News/view/id/215.html">
                        <div class="news_title">APP、微信、小程序、HTML5移动端应用程序开发</div>
                    </a>
                </li>
            </div>
        </div>
    </div>
</section>
<!--业务领域-->
<section>
    <div class="index-bt" id="solution">
        <h1 class=" wow fadeInUp">互联网+解决方案</h1>
        <p class=" wow fadeInUp">一街已为您定制多套行业解决方案，助你轻松跨入“互联网+”时代</p>
	<div class="width-1220 index-cp">
		<div id="index-cp"  class="wow fadeInUp">
			<div class="swiper-wrapper">
				<div class="swiper-slide index-1">
					<div class="index-1-icon">
						<img src="../static/Assets/solution1.png"/>
						<span><img src="../static/Assets/solution1.png"/></span>
					</div>
					<p>全网电商解决方案</p>
				</div>
                <div class="swiper-slide index-1">
					<div class="index-1-icon">
						<img src="../static/Assets/solution2.png"/>
						<span><img src="../static/Assets/solution2.png"/></span>
					</div>
					<p>政务门户解决方案</p>
				</div>
                <div class="swiper-slide index-1">
					<div class="index-1-icon">
						<img src="../static/Assets/solution3.png"/>
						<span><img src="../static/Assets/solution3.png"/></span>
					</div>
					<p>企业门户解决方案</p>
				</div>
                <div class="swiper-slide index-1">
					<div class="index-1-icon">
						<img src="../static/Assets/solution4.png"/>
						<span><img src="../static/Assets/solution4.png"/></span>
					</div>
					<p>生态农业互联网解决方案</p>
				</div>
            </div>
		</div>
		<div class="swiper-button-prev ms-prev" id="ms-prev"></div>
		<div class="swiper-button-next ms-next" id="ms-next"></div>
	</div>
    </div>

    <div class="width-100 index-2" id="index-cpnr">
        <div class="swiper-wrapper">
            <div class="swiper-slide index-3">
                <div class="a-background" style="background-image: url(/static/upfile/201902/5c74fdfc8f0fe.jpg);"></div>
                <div class="text width-1220">
                    <h1 class="wo  delay-5">AI 守护，平安相伴</h1>
                    <a href="/Service/Security_SenseFoundry.html" class="btn-ljgd wo delay-5" data-wow-delay="0.4s">了解更多<span></span></a>
                </div>
            </div>
            <div class="swiper-slide index-3">
                <div class="a-background" style="background-image: url(/static/upfile/201811/5bfb86ae92719.jpg);"></div>
                <div class="text width-1220">
                    <h1 class="wo  delay-5">不⽌是智能手机</h1>
                    <a href="Service/Phone_SenseMatrix.html" class="btn-ljgd wo delay-5"
                       data-wow-delay="0.4s">了解更多<span></span></a>
                </div>
            </div>
            <div class="swiper-slide index-3">
                <div class="a-background" style="background-image: url(/static/upfile/201811/5bfb8ed42593e.jpg);"></div>
                <div class="text width-1220">
                    <h1 class="wo  delay-5">AI 互动，才有趣</h1>
                    <a href="Service/sensear_augmentreality.html" class="btn-ljgd wo delay-5" data-wow-delay="0.4s">了解更多<span></span></a>
                </div>
            </div>
            <div class="swiper-slide index-3">
                <div class="a-background" style="background-image: url(/static/upfile/201902/5c74fe838b079.jpg);"></div>
                <div class="text width-1220">
                    <h1 class="wo  delay-5">安全驾驶，AI 护航</h1>
                    <a href="Service/Drive_SenseDrive.html" class="btn-ljgd wo delay-5"
                       data-wow-delay="0.4s">了解更多<span></span></a>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            var indexCp = new Swiper('#index-cp', {
                prevButton: '.ms-prev',
                nextButton: '.ms-next',
                slidesPerView: 4,
                slidesPerGroup: 4,
                breakpoints: {
                    //当宽度小于等于768
                    768: {
                        slidesPerView: 2,
                        slidesPerGroup: 2,
                        freeMode: true,
                    }
                },
            });
            var indexCpNr = new Swiper('#index-cpnr', {
                simulateTouch: false,

                effect: 'fade',
            });

            $('#index-cp').find('.swiper-slide').eq(0).addClass('m-active');
            $('#index-cp').find('.swiper-slide').each(function (i) {
                $(this).click(function () {
                    $('#index-cp').find('.swiper-slide').removeClass('m-active');
                    $(this).addClass('m-active');
                    indexCpNr.slideTo(i, 500, false);
                })
            });
            var ii = $(window).innerWidth() > 768 ? 10 : 3;
            var a;
            $('#ms-prev').click(function () {
                a = indexCp.activeIndex;
                indexCp.slideTo(a - ii, 500, true);
            })
            $('#ms-next').click(function () {
                a = indexCp.activeIndex;
                indexCp.slideTo(a + ii, 500, true);
            })
        })
    </script>


</section>


<!--AI 技术助力行业升级-->
<section>
    <div class="index-bt index-bt1">
        <h1 class="wow fadeInUp">精于专注，成就所托</h1>
        <p class="wow fadeInUp">500+企事业单位共同选择的互联网技术服务商</p>
    </div>

    <div class="width-100 index-4" id="index-ai">

        <div class="swiper-wrapper">

            <div class="index-5 swiper-slide">
                <div class="width-50">
                    <div class="img-box index-6">
                        <div class="a-background"
                             style="background-image: url(/static/upfile/201902/5c74aabfe0b1a.jpg);"></div>
                        <!--<img src="/static/upfile/201902/5c74aabfe0b1a.jpg" />-->
                    </div>
                </div>
                <div class="width-50 index-7">
                    <div class="index-6">
                        <div class="index-8" style="background:#162a46;">
                            <div class="index-9">
                                <h1 class="wo">智慧城市</h1>
                                <!--<div class="m-dhslh wo delay-2">以创新产品，推动智慧城市、 平安城市建设</div>-->
                                <p class="wo delay-4 p-img" style="margin-top: .8rem;"><img
                                        src="/static/upfile/201903/5c91f05eb6f11.png"/></p>
                                <a href="Case/index/id/1.html"
                                   class="btn-ljgd btn-ljgd3 wo delay-6">了解更多<span></span></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="index-5 swiper-slide">
                <div class="width-50">
                    <div class="img-box index-6">
                        <div class="a-background"
                             style="background-image: url(/static/upfile/201810/5bd426f8df890.jpg);"></div>
                        <!--<img src="/static/upfile/201810/5bd426f8df890.jpg" />-->
                    </div>
                </div>
                <div class="width-50 index-7">
                    <div class="index-6">
                        <div class="index-8" style="background:#b22330;">
                            <div class="index-9">
                                <h1 class="wo">泛文化娱乐</h1>
                                <!--<div class="m-dhslh wo delay-2"></div>-->
                                <p class="wo delay-4 p-img" style="margin-top: .8rem;"><img
                                        src="/static/upfile/201811/5bed01291b0cb.png"/></p>
                                <a href="Case/index/id/2.html"
                                   class="btn-ljgd btn-ljgd3 wo delay-6">了解更多<span></span></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="index-5 swiper-slide">
                <div class="width-50">
                    <div class="img-box index-6">
                        <div class="a-background"
                             style="background-image: url(/static/upfile/201810/5bd4273f5cac3.jpg);"></div>
                        <!--<img src="/static/upfile/201810/5bd4273f5cac3.jpg" />-->
                    </div>
                </div>
                <div class="width-50 index-7">
                    <div class="index-6">
                        <div class="index-8" style="background:#303030;">
                            <div class="index-9">
                                <h1 class="wo">智能手机</h1>
                                <!--<div class="m-dhslh wo delay-2">以有效的解决方案，助力客户 打造高性能智能手机品牌</div>-->
                                <p class="wo delay-4 p-img" style="margin-top: .8rem;"><img
                                        src="/static/upfile/201811/5bed01353e265.png"/></p>
                                <a href="Case/index/id/3.html"
                                   class="btn-ljgd btn-ljgd3 wo delay-6">了解更多<span></span></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="index-5 swiper-slide">
                <div class="width-50">
                    <div class="img-box index-6">
                        <div class="a-background"
                             style="background-image: url(/static/upfile/201905/5cec3a1734459.jpg);"></div>
                        <!--<img src="/static/upfile/201905/5cec3a1734459.jpg" />-->
                    </div>
                </div>
                <div class="width-50 index-7">
                    <div class="index-6">
                        <div class="index-8" style="background:#535353;">
                            <div class="index-9">
                                <h1 class="wo">智能汽车</h1>
                                <!--<div class="m-dhslh wo delay-2">以有效的解决方案，助力客户 打造高性能智能手机品牌</div>-->
                                <p class="wo delay-4 p-img" style="margin-top: .8rem;"><img
                                        src="/static/upfile/201912/5dfc9136d147a.png"/></p>
                                <a href="https://www.sensetime.com/Case/index/id/21.html"
                                   class="btn-ljgd btn-ljgd3 wo delay-6">了解更多<span></span></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination index-page"></div>

    </div>

    <script>
        $(function () {
            var indexai = new Swiper('#index-ai', {
                loop: true,
                speed: 500,
                autoplay: 3000,
                paginationClickable: true,
                pagination: '.swiper-pagination',
            });
        })
    </script>
</section>

<!--合作伙伴-->
<section class="bg-f0">
    <div class="width-1220 index-hzhb">
        <div class="index-20">
            <div class="index-21 wow fadeInUpa">
                <div class="img-box">
                    <div class="m-center"><img src="/static/Assets/parterner1.png"/></div>
                </div>
            </div>
            <div class="index-21 wow fadeInUpa">
                <div class="img-box">
                    <div class="m-center"><img src="/static/Assets/parterner2.png"/></div>
                </div>
            </div>
            <div class="index-21 wow fadeInUpa">
                <div class="img-box">
                    <div class="m-center"><img src="/static/Assets/parterner3.png"/></div>
                </div>
            </div>
            <div class="index-21 wow fadeInUpa">
                <div class="img-box">
                    <div class="m-center"><img src="/static/Assets/parterner4.png"/></div>
                </div>
            </div>
            <div class="index-21 wow fadeInUpa">
                <div class="img-box">
                    <div class="m-center"><img src="/static/Assets/parterner5.png"/></div>
                </div>
            </div>
            <div class="index-21 wow fadeInUpa">
                <div class="img-box">
                    <div class="m-center"><img src="/static/Assets/parterner6.png"/></div>
                </div>
            </div>
        </div>
        <div class="index-22">
            <h1 class="wow fadeInUpa">他们选择了一街</h1>
            <p class="wow fadeInUpa" data-wow-delay="0.2s">11年行业经验，助力互联网+探索之路</p>
            <a href="/cooper" class="btn-ljgd btn-ljgd4 wow fadeInUpa" data-wow-delay="0.4s">了解更多<span></span></a>
        </div>
    </div>
</section>


<!--footer-->
<footer class="bg-252526">
    <div class="width-1220 footer-1">
        <p class="footer-3">商业合作：<span>400-600-4566</span>
            <span class="pull-right">admin@eacase.com</span>
        </p>
        <div class="footer-4">
            <div class="footer-logo"><img src="/static/images/logo.png"/></div>
            <a class="footer-6" id="wxbox2">
                <img src="/static/images/footer-wx.png"/>
                <div class="wxbox" style="display:none;">
                    <img src="/static/images/erwm.png" alt="">
                </div>
            </a>
        </div>
    </div>
    <div class="width-1220 footer-ba">
        <p>
            <span><a href="http://www.beian.miit.gov.cn" target="-_blank">蒙ICP备10002867号-7</a></span>
            <span class="hidden-xs">|</span>
            <span class="footer-ba1"><a
                    href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802026791" target="-_blank">蒙公网安备 15019002150203号 站长统计</a></span>
            <span>©2008-2017 呼和浩特市一街科技有限公司 版权所有</span>
        </p>
    </div>
</footer>


<script type="text/javascript">
    //阻止事件冒泡
    $('.modal-content').click(function (e) {
        e.stopPropagation()
    })

    $(document).ready(function () {
        $("#wxbox").hover(function () {
            $(this).addClass("footer-6_hover");
            $(this).children(".wxbox").show();
        }, function () {
            $(this).removeClass("footer-6_hover");
            $(this).children(".wxbox").hide();
        });
        $("#wxbox2").hover(function () {
            $(this).addClass("footer-6_hover");
            $(this).children(".wxbox").show();
        }, function () {
            $(this).removeClass("footer-6_hover");
            $(this).children(".wxbox").hide();
        });
    });


    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?95e1c7f2af12086fc92e0742665b8268";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();


    //2019-6-11增加百度代码
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?8ebb5ff06a2c44c46939dec8d61388ed";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script type='text/javascript'>
    !function (e, t, n, g, i) {
        e[i] = e[i] || function () {
            (e[i].q = e[i].q || []).push(arguments)
        }, n = t.createElement("script"), tag = t.getElementsByTagName("script")[0], n.async = 1, n.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + g, tag.parentNode.insertBefore(n, tag)
    }(window, document, "script", "assets.giocdn.com/2.1/gio.js", "gio");
    gio('init', '8539273bfa333d53', {});
    gio('send');
</script>

<!-- End GrowingIO Analytics code version: 2.1 -->


<!--返回顶部按钮-->
<div class="to-top" id="to-top">
    <div class="m-center"><img src="/static/images/jt-5.png"/></div>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143749905-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-143749905-1');
</script>
</body>
</html>