<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
</head>
<body>
    <div class="of-y" id="nurse">
        <table class="high width" id="nurse-plan">
            <tr>
                <td>
                    <input type="button" value="button" onclick="tap()">
                </td>
            </tr>
            <tr id="tr-one">
                <td>aaa</td>
            </tr>
            <tr id="tr-two1">
                <td>
                    <div style="height: 800px">sadfsdf</div>
                </td>
            </tr>
            <tr id="tr-two">
                <td>aaa</td>
            </tr>
            <tr id="tr-three">
                <td>aaa</td>
            </tr>
            <tr id="tr-four">
                <td>aaa</td>
            </tr>
            <tr id="tr-two2">
                <td>
                    <div style="height: 800px">sadfsdf</div>
                </td>
            </tr>
        </table>
    </div>
    <script>
        function tap() {
            $("html,body").animate({ scrollTop: $("#tr-three").offset().top }, 1000);
        }
    </script>
</body>
</html>